<nav class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
                <li class="active">Clicks99</li>
            </ol>
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-th icon"></i>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
            </button>
            {if($user->admin)}
            <li><a href="/admin/index.html"><i class="fa fa-user-secret"></i> Admin</a></li>
            {/if}
            <li class="primary"><a href="/content.html"><i class="fa fa-link"></i> Get Link</a></li>
            <li><a href="https://www.facebook.com/groups/1542456012749189/" target="_blank"><i class="fa fa-facebook-square"></i> Join Group</a></li>
            <li class="dropdown info">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {echo $user->name} (ID: {echo $user->id})</a>
                <ul class="dropdown-menu danger  animated fadeInDown">
                    <li>
                        <ul class="list-group notifications">
                            <a href="/publisher/profile.html">
                                <li class="list-group-item"><i class="fa fa-user icon"></i> Profile</li>
                            </a>
                            <a href="/publisher/earnings.html">
                                <li class="list-group-item"><i class="fa fa-inr icon"></i> Earnings</li>
                            </a>
                            <a href="/auth/logout.html">
                                <li class="list-group-item"><i class="fa fa-power-off icon"></i> Logout</li>
                            </a>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/publisher/index.html">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">Publisher</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/publisher/index.html"><span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span></a></li>
                <li><a href="/publisher/mylinks.html"><span class="icon fa fa-bar-chart-o"></span><span class="title">Link Stats</span></a></li>
                <li><a href="/publisher/topearners.html"><span class="icon fa fa-table"></span><span class="title">Top Earners</span></a></li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-element">
                        <span class="icon fa fa-star"></span><span class="title">Campaigns</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-element" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/content">All</a></li>
                                <li><a href="/content?category[]=bollywood">Bollywood</a></li>
                                <li><a href="/content?category[]=fashion">Fashion</a></li>
                                <li><a href="/content?category[]=funny">Funny</a></li>
                                <li><a href="/content?category[]=hollywood">Hollywood</a></li>
                                <li><a href="/content?category[]=life">Life</a></li>
                                <li><a href="/content?category[]=news">News</a></li>
                                <li><a href="/content?category[]=omg">OMG</a></li>
                                <li><a href="/content?category[]=sports">Sports</a></li>
                                <li><a href="/content?category[]=trending">Trending</a></li>
                                <li><a href="/content?category[]=videos">Viral Videos</a></li>
                                <li><a href="/content?category[]=entertainment">Entertainment</a></li>
                                <li><a href="/content?category[]=gadgets">Gadgets</a></li>
                                <li><a href="/content?category[]=religion">Religion</a></li>
                                <li><a href="/content?category[]=interesting">Interesting</a></li>
                                <li><a href="/content?category[]=health">Health</a></li>
                                <li><a href="/content?category[]=celebrities">Celebrities</a></li>
                                <li><a href="/content?category[]=amazing">Amazing</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="/publisher/earnings.html"><span class="icon fa fa-inr"></span><span class="title">Earnings</span></a></li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-form">
                        <span class="icon fa fa-user"></span><span class="title">Profile</span>
                    </a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-form" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="/publisher/payments.html">Payments</a></li>
                                <li><a href="/publisher/platforms.html">Platforms</a></li>
                                <li><a href="/publisher/profile.html">Settings</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#"><span class="icon fa fa-thumbs-o-up"></span><span class="title">License</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
