<!--Start: Header Area
        ==============================-->
<header class="header-background header header" id="header">
    <div class="overlay-color">
        <!-- Start: Navbar Area  -->
        <div class="header-navbar" id="header-navbar">
            <nav class="navbar navbar-fixed-top header-nav" id="myNavbar">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Menu Button show Mobile view -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- TEMPLATE LOGO LIGHT -->
                        <h1 class="navbar-brand light-logo" style="color: white;">ChocoGhar</h1>
                        <!-- TEMPLATE LOGO DARK -->
                        <h1 class="navbar-brand dark-logo">ChocoGhar</h1>
                    </div>
                    <!-- Main Menu List -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                        {if($user)}
                            <li><a class="navbar-nav-hover" href="/member">{$user->name}</a></li>
                        {/if}
                        {else}
                            <li><a class="navbar-nav-hover" href="/auth/login">SIGN IN</a></li>
                            <li><a class="btn btn-fill " href="/auth/register">SIGN UP</a></li>
                        {/else}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- End: Navbar Area  -->
        <!-- Start: Header Main Contant -->
        <div class="container">
            <div class="row header-body section-separator ">
                <div class="header-contant-left align-center col-md-8 col-md-offset-2">
                    <div class="row">
                        <!-- Headline Goes HEre -->
                        <h1 class=" wow fadeInUp">Get the Best Revenue from Your Facebook Page</h1>
                    </div>
                    <!-- End: .row -->
                </div>
                <!-- End: .header-contant-left -->
            </div>
            <!-- End: .row .header-body .section-separator  -->
        </div>
        <!-- End: .container  -->
        <!-- Start: Header Main Contant -->
    </div>
    <!-- End: .overlay-color -->
</header>
<!--End: Header Area
        ==============================-->
