<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/publisher/manage.html">Affiliates</a></li>
                            <li><a href="/billing/affiliates.html">Billing</a></li>
                            <li class="active">Payment</li>
                            <li class="active">Create Payment</li>
                        </ol>
                        <h4 class="page-title">Create: Payment</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-border panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Affiliate</h3>
                            <p class="text-muted m-b-30 font-13">
                                Select any Affiliate and the date range to which you want to pay affiliates.
                            </p>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline text-center" role="form" id="range">
                                {if($affiliate)}
                                <a href="/billing/createpayment.html" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Change</a>
                                {/if}
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="sr-only">Account: </label>
                                        {if($affiliates)}
                                        <span class="add-on input-group-addon"><i class="fa fa-user fa-fw"></i> Account: </span>
                                        <select name="user_id" class="form-control selectpicker" style="max-width: 300px;" data-live-search=true value="{echo $user_id}" required="" title="Select an Affiliate to Continue">
                                        {foreach $a in $affiliates}
                                        <option value="{echo $a->id}">{echo $a->name}</option>
                                        {/foreach}
                                        {/if}{else}
                                            <span class="add-on input-group-addon"><a href="/publisher/info/{echo $user_id}.html" target="_blank"><i class="fa fa-user fa-fw"></i> Account: </a></span>
                                            <input type="text" style="width: 180px" class="form-control" value="{echo $affiliate->name}" disabled="" />
                                            <input type="hidden" name="user_id" value="{echo $affiliate->id}" />
                                        {/else}
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            {if($affiliate)}<hr>
                            <div class="row">
                                <div class="col-md-6">
                                {if(isset($org->billing["aff"]))}
                                    <form role="form" method="post">
                                        {script $payout = isset($affiliate->meta['payout']) ? $affiliate->meta['payout'] : []}
                                        {if(in_array("paypal", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Paypal</label>
                                            <input type="email" class="form-control" value="{echo isset($payout['paypal']) ? $payout['paypal'] : null }" name="paypal" placeholder="Paypal email">
                                        </div>
                                        {/if}
                                        {if(in_array("payquicker", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Payquicker</label>
                                            <input type="text" value="{echo isset($payout['payquicker']) ? $payout['payquicker'] : null }" class="form-control" name="payquicker" placeholder="Payquicker account">
                                        </div>
                                        {/if}
                                        {if(in_array("payoneer", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Payoneer</label>
                                            <input type="text" value="{echo isset($payout['payoneer']) ? $payout['payoneer'] : null }" class="form-control" name="payoneer" placeholder="Payoneer account">
                                        </div>
                                        {/if}
                                        {if(in_array("paytm", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Paytm</label>
                                            <input type="text" value="{echo isset($payout['paytm']) ? $payout['paytm'] : null }" class="form-control" name="paytm" placeholder="Paytm Number">
                                        </div>
                                        {/if}
                                        {if(in_array("mobicash", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Mobicash</label>
                                            <input type="text" value="{echo isset($payout['mobicash']) ? $payout['mobicash'] : null }" class="form-control" name="mobicash" placeholder="Mobicash account">
                                        </div>
                                        {/if}
                                        {if(in_array("easypaisa", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Easypaisa</label>
                                            <input type="text" value="{echo isset($payout['easypaisa']) ? $payout['easypaisa'] : null }" class="form-control" name="easypaisa" placeholder="Easypaisa account">
                                        </div>
                                        {/if}
                                        <input type="hidden" name="action" value="payout">
                                        <button type="submit" class="btn btn-info waves-effect waves-light">Change</button>
                                    </form>
                                {/if}
                                </div>
                                <div class="col-md-6">
                                    {if(isset($org->billing["aff"]) && in_array("wire", $org->billing["aff"]["ptypes"]))}
                                    <form role="form" method="post">
                                        {script $bank = isset($affiliate->meta['bank']) ? $affiliate->meta['bank'] : []}
                                        <div class="form-group">
                                            <label>Bank Account Number</label>
                                            <input type="text" value="{echo isset($bank['account_no']) ? $bank['account_no'] : null }" class="form-control" name="account_number" placeholder="Bank Account Number">
                                        </div>
                                        <div class="form-group">
                                            <label>Account Owner Name</label>
                                            <input type="text" value="{echo isset($bank['account_owner']) ? $bank['account_owner'] : null }" class="form-control" name="account_owner" placeholder="Account Owner Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Bank Name</label>
                                            <input type="text" value="{echo isset($bank['name']) ? $bank['name'] : null }" class="form-control" name="account_bank" placeholder="Bank Name">
                                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>IFSC/Swift Code</label>
                                            <input type="text" value="{echo isset($bank['ifsc']) ? $bank['ifsc'] : null }" class="form-control" name="account_code" placeholder="IFSC/Swift Code">
                                        </div>
                                        <input type="hidden" name="action" value="bank">
                                        <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                                    </form>
                                    {/if}
                                </div>
                            </div>
                            {/if}
                        </div>
                    </div>
                </div>
                {if($affiliate)}
                <div class="col-md-12">
                    <div class="panel panel-border panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Summary</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="">
                                {if($invoices)}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Invoice ID</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {foreach $i in $invoices}
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="inv{echo $i->id}" type="checkbox" name="invoice[]" checked="" value="{echo $i->id}">
                                                        <label for="inv{echo $i->id}">
                                                            <small>{echo $i->id}</small>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>{echo Framework\StringMethods::datetime_to_text($i->start, $user)}</td>
                                                <td>{echo Framework\StringMethods::datetime_to_text($i->end, $user)}</td>
                                                <td>{echo $user->convert($i->amount, true, 2, false)}</td>
                                            </tr>
                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                                {/if} {else}
                                <p class="text-warning text-center">No Invoices Found. Cannot Create Payment</p>
                                {/else}
                                <hr>
                                <h4 class="m-t-0 header-title text-center"><b>Other Items (Optional)</b><button type="button" id="addmore" class="btn btn-primary btn-xs">Add more</button></h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody id="addmform">
                                            <tr id="item">
                                                <th>Item</th>
                                                <td><input type="text" name="item[]" class="form-control" /></td>
                                                <th>Amount</th>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="add-on input-group-addon">{echo $user->currency}</span>
                                                        <input type="text" name="amount[]" class="form-control">
                                                    </div>
                                                    <small class="help-text">Add (-) minus for deduction</small>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Payment Type</th>
                                                <td>
                                                    <select name="type" class="form-control">
                                                        <option value="paypal">PayPal</option>
                                                        <option value="wire" selected="">Wire Transfer</option>
                                                        <option value="payquicker">PayQuicker</option>
                                                        <option value="payoneer">Payoneer</option>
                                                        <option value="paytm">Paytm</option>
                                                        <option value="mobicash">Mobicash</option>
                                                        <option value="easypaisa">EasyPaisa</option>
                                                    </select>
                                                </td>
                                                <th>Reference ID</th>
                                                <td><input type="text" name="refer_id" class="form-control" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <input type="hidden" name="action" value="cpayment">
                                {if($invoices)}
                                <p class="text-center">
                                    <button type="submit" class="btn btn-success">Make Payment</button>
                                </p>
                                {/if}
                            </form>
                        </div>
                    </div>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    admin.createpayment();
</script>