<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/publisher/manage.html">Affiliates</a></li>
                            <li><a href="/publisher/billing.html">Billing</a></li>
                            <li class="active">Invoices</li>
                            <li class="active">Create Invoice</li>
                        </ol>
                        <h4 class="page-title">Create: Invoice</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-border panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Details</h3>
                        </div>
                        <form class="panel-body table-responsive" action="">
                            <table class="table">
                                <tr>
                                    <th>Account: </th>
                                    <td>
                                        {if($affiliates)}
                                        <select name="user_id" class="form-control" style="max-width: 300px;" value="{echo $user_id}">
                                        {foreach $a in $affiliates}
                                        <option value="{echo $a->id}">{echo $a->name}</option>
                                        {/foreach}
                                        {/if}{else}
                                            {echo $affiliate->name}
                                        {/else}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>
                                    <td>
                                        <div class="input-group">
                                            <label class="sr-only">From</label>
                                            <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                            <input type="date" style="width: 180px" name="start" class="form-control" required="" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>End Date</th>
                                    <td>
                                        <div class="input-group">
                                            <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                            <input type="date" style="width: 180px" name="end" class="form-control" required="" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <p class="text-center">
                                <button class="btn btn-default">Update</button>
                            </p>
                        </form>
                    </div>
                </div>
                {if($affiliate)}
                <div class="col-md-12">
                    <div class="panel panel-border panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Optional</h3>
                        </div>
                        <div class="panel-body table-responsive">
                            <tr>
                                <th>Affiliate Memo: </th>
                                <td>
                                    <input type="text" name="memo" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>Notes: </th>
                                <td>
                                    <input type="text" name="notes" class="form-control">
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-border panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Invoice Details</h3>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Campaign</th>
                                    <th>Payout</th>
                                    <th>Actions</th>
                                    <th>Amount</th>
                                    <th>Total Revenue</th>
                                </tr>
                                {script $adClicks = []} {script $commInfo = []}
                                {foreach $value in $clicks}
                                    {script $revenue = $ck_count = 0} {script $countries = Click::classify($value, 'country')}
                                    {foreach $records in $countries}

                                        {script $pComm = Commission::campaignRate($value_i, $commInfo, $records_i, array_merge([
                                            'type' => 'publisher', 'publisher' => $user
                                        ], $dq))}
                                        {script $ck_count += count($records)}
                                        {script $earning = Ad::earning($pComm, count($records))}
                                        {script $revenue += $earning['revenue']}
                                    {/foreach}

                                    {script $adClicks[$value_i] = ['revenue' => $revenue, 'clicks' => $ck_count]}
                                {/foreach}
                                {foreach $l in $links}
                                    {script $a = Ad::first(["_id = ?" => $l->ad_id], ['_id', 'title'])}
                                    {script $c = Commission::first(["ad_id = ?" => $l->ad_id])}
                                    
                                    {script $data = $adClicks[$a->_id] ?? ['revenue' => 'None', 'clicks' => 'No Clicks']}
                                    {if($data['revenue'] > 0)}
                                    <tr>
                                        <td><a href="/campaign/details/{$a->id}.html">{echo $a->title}</a></td>
                                        <td>
                                            {echo Commission::allRate($a->_id, $user)}
                                        </td>
                                        <td>{echo Shared\Markup::nice_number($data['clicks'])}</td>
                                        <td>{echo $user->convert($data['revenue'])}</td>
                                        <td></td>
                                    </tr>
                                    {/if}
                                {/foreach}
                            </table>
                        </div>
                    </div>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>