<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">{echo $item->title}</h1> {if isset($success)}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                Content Updated <strong>Successfully!</strong>
            </div>
            {/if}
            <p>Note : Do not Include <b>"&", "=" or any special character</b> in any field below(these are reserved for tracking)</p>
            <form class="panel panel-default text-center" method="post" action="">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Id</b></td>
                            <td>{echo $item->id}</td>
                        </tr>
                        <tr>
                            <td><b>Title</b></td>
                            <td>
                                <input type="text" class="form-control" name="title" value="{echo $item->title}">
                            </td>
                        </tr>
                        <tr>
                            <td><b>URL</b></td>
                            <td>
                                <input type="text" class="form-control" name="url" value="{echo $item->url}">
                            </td>
                        </tr>
                        <tr>
                            <td><b>Commission</b></td>
                            <td>
                                <input type="text" class="form-control" name="commission" value="{echo $item->commission}">
                            </td>
                        </tr>
                        <tr>
                            <td><b>Live</b></td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio" name="live" value="1" {if($item->live == "1")}checked{/if}> Enable
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="live" value="0" {if($item->live == "0")}checked{/if}> Disable
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Category</b></td>
                            <td>
                                <select name="category[]" class="form-control" multiple="">
                                    <option {if(in_array("bollywood", $categories))}selected{/if} value="bollywood">Bollywood</option>
                                    <option {if(in_array("fashion", $categories))}selected{/if} value="fashion">Fashion</option>
                                    <option {if(in_array("funny", $categories))}selected{/if} value="funny">Funny</option>
                                    <option {if(in_array("hollywood", $categories))}selected{/if} value="hollywood">Hollywood</option>
                                    <option {if(in_array("life", $categories))}selected{/if} value="life">Life</option>
                                    <option {if(in_array("news", $categories))}selected{/if} value="news">News</option>
                                    <option {if(in_array("omg", $categories))}selected{/if} value="omg">OMG</option>
                                    <option {if(in_array("sports", $categories))}selected{/if} value="sports">Sports</option>
                                    <option {if(in_array("trending", $categories))}selected{/if} value="trending">Trending</option>
                                    <option {if(in_array("videos", $categories))}selected{/if} value="videos">Viral Videos</option>
                                    <option {if(in_array("entertainment", $categories))}selected{/if} value="entertainment">Entertainment</option>
                                    <option {if(in_array("gadgets", $categories))}selected{/if} value="gadgets">Gadgets</option>
                                    <option {if(in_array("religion", $categories))}selected{/if} value="religion">Religion</option>
                                    <option {if(in_array("interesting", $categories))}selected{/if} value="interesting">Interesting</option>
                                    <option {if(in_array("health", $categories))}selected{/if} value="health">Health</option>
                                    <option {if(in_array("celebrities", $categories))}selected{/if} value="celebrities">Celebrities</option>
                                    <option {if(in_array("amazing", $categories))}selected{/if} value="amazing">Amazing</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Details</b></td>
                            <td>
                                <textarea class="form-control" name="description">{echo $item->description}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td><b>RPM</b></td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">IN</div>
                                        <input type="number" class="form-control" placeholder="India" name="rpm_in" value="{echo $rpm_in->value}" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">US</div>
                                        <input type="number" class="form-control" placeholder="United States" name="rpm_us" value="{echo $rpm_us->value}" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">CA</div>
                                        <input type="number" class="form-control" placeholder="Canada" name="rpm_ca" value="{echo $rpm_ca->value}" required="">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>RPM</b></td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">AU</div>
                                        <input type="number" class="form-control" placeholder="Australia" name="rpm_au" value="{echo $rpm_au->value}" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">UK</div>
                                        <input type="number" class="form-control" placeholder="New Zealand" name="rpm_uk" value="{echo $rpm_uk->value}" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Other</div>
                                        <input type="number" class="form-control" placeholder="None" name="rpm_none" value="{echo $rpm_none->value}" required="">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="action" value="update">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
