<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <ol class="breadcrumb pull-right">
                <li><a href="/advertiser/index.html">Dashboard</a></li>
                <li class="active">Account</li>
            </ol>
            <h4 class="page-title">Account</h4>
        </div>
    </div>
</div>
{if isset($message)}
<div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {echo $message}
</div>
{/if}
<div class="row">
    <ul class="nav nav-tabs navtab-custom">
        <li class="active">
            <a href="#profile" data-toggle="tab" aria-expanded="true">
                <span class="visible-xs"><i class="fa fa-user"></i></span>
                <span class="hidden-xs">Profile</span>
            </a>
        </li>
        <li class="">
            <a href="#preferences" data-toggle="tab" aria-expanded="false">
                <span class="visible-xs"><i class="fa fa-list"></i></span>
                <span class="hidden-xs">Preferences</span>
            </a>
        </li>
        <li class="">
            <a href="#callback" data-toggle="tab" aria-expanded="false">
                <span class="visible-xs"><i class="fa fa-link"></i></span>
                <span class="hidden-xs">CallBack</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="profile">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="m-t-0 header-title"><b>Basic data</b></h4>
                    <form role="form" method="post">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" value="{echo $user->name}" class="form-control" placeholder="Full Name">
                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "name")}</span>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="phone" value="{echo $user->phone}" class="form-control" placeholder="Phone Number">
                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
                        </div>
                        <div class="form-group">
                            <label>Currency</label>
                            <select name="currency" class="form-control" value="{echo $user->currency}">
                                <option value="INR">INR <i class="fa fa-inr"></i></option>
                                <option value="USD">USD <i class="fa fa-usd"></i></option>
                                <option value="PKR">PKR <i class="fa fa-inr"></i></option>
                                <option value="AUD">AUD <i class="fa fa-usd"></i></option>
                                <option value="EUR">EUR <i class="fa fa-eur"></i></option>
                                <option value="GBP">GBP <i class="fa fa-gbp"></i></option>
                            </select>
                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "currency")}</span>
                        </div>
                        <div class="form-group">
                            <label>TimeZone</label>
                            {script $tz = $user->region["zone"] ?? "Asia/Kolkata"}
                            <select name="timezone" class="form-control selectpicker" value="{$tz}" data-live-search=true>
                                {include auth/timezone.html}
                            </select>
                        </div>
                        <input type="hidden" name="action" value="account">
                        <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4 class="m-t-0 header-title"><b>Change Password</b></h4>
                    <form role="form" method="post">
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Old Password">
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" name="npassword" placeholder="New Password">
                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                        </div>
                        <input type="hidden" name="action" value="password">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Change</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="preferences">
            <p>No preferences saved</p>
        </div>
        <div class="tab-pane" id="callback">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="m-t-0 header-title text-center"><b>Create Callbacks</b></h4>
                    <p class="text-center">(Only 1 callback can be added per event)</p>
                    <form method="post">
                        <div class="form-group">
                            <label>Event</label>
                            <select class="form-control selectpicker" name="event" title="Select Callback Event">
                                <option value="click">Click</option>
                                <option value="conversion">Conversion</option>
                                <option value="impression">Impression</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control selectpicker" name="type" title="Select Callback type">
                                <option value="url">URL(Any Campaign Tracking type)</option>
                                <option value="html">HTML(iframe Campaign Tracking Only)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <textarea name="data" class="form-control" placeholder="Callback Code"></textarea>
                        </div>
                        <input type="hidden" name="action" value="addCallback">
                        <button type="submit" class="btn btn-primary">Save Callback</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4 class="m-t-0 header-title text-center"><b>Saved Callbacks</b></h4>
                    <p class="text-center">Callbacks will work when approved by Admin</p>
                    {if count($postbacks) > 0}
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>EVENT</th>
                                <th>TYPE</th>
                                <th>CODE</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                            {foreach $p in $postbacks}
                            <tr>
                                <td>{echo $p->event}</td>
                                <td>{echo $p->type}</td>
                                <td>{echo $p->data}</td>
                                <td>
                                    {echo Shared\Markup::isActiveHtml($p)}
                                </td>
                                <td><button type="button" data-href="{echo Shared\Markup::parse_url()['path']}?action=removeCallback&postback_id={echo $p->_id}" class="btn-danger btn-xs delete" data-message="Are You sure you want to delete this postback. This is irreversible!!"><i class="fa fa-trash"></i></button></td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>
                    {/if} {else}
                    <p class="text-center">No Global PostBacks Found.</p>
                    {/else}
                </div>
            </div>
        </div>
    </div>
</div>