<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/admin">Dashboard</a></li>
                            <li class="active">Settings</li>
                        </ol>
                        <h4 class="page-title">Settings</h4>
                    </div>
                </div>
            </div>
            {if isset($message)}
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {echo $message}
            </div>
            {/if}
            <div class="row">
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Campaign Settings</h4>
                        <form action="" method="post">
                            <div class="form-group">
                                {script $campaign = isset($user->meta['campaign']) ? $user->meta['campaign'] : ['model' => 'cpc', 'rate' => '']}
                                {script $model = $campaign['model']}
                                <label>Model</label>
                                <select name="model" required="" class="form-control selectVal" data-value='{echo json_encode(["$model"])}'>
                                    <option value="cpc">CPC (Cost per Click)</option>
                                    <option value="cpm">CPM (Cost per thousand impressions)</option>
                                    <option value="cpa">CPA (Cost per action)</option>
                                    <option value="cpi">CPI (Cost per Install)</option>
                                    <option value="cps">CPS (Cost per Sale)</option>
                                    <option value="cpl">CPL (Cost per Lead)</option>
                                </select>
                            </div>
                            <div class="form-group">
                                {script $rate = $campaign['rate']}
                                <label for="Rate">Rate</label>
                                <div class="input-group">
                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                    <input type="text" value="{echo $user->convert($rate, false)}" name="rate" pattern="^[0-9]{1,2}(\.[0-9]{0,6})?$" class="form-control" placeholder="Rate for revenue model. Eg: 0.0012" required="">
                                </div>
                            </div>
                            <input type="hidden" name="action" value="campaign">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Submit</button>
                        </form>
                    </div>
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Change Password</b></h4>
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Old Password">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" name="npassword" placeholder="New Password">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                            </div>
                            <input type="hidden" name="action" value="password">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Change</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Basic data</b></h4>
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" value="{echo $user->name}" class="form-control" placeholder="Full Name">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "name")}</span>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" name="phone" value="{echo $user->phone}" class="form-control" placeholder="Phone Number">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
                            </div>
                            <div class="form-group">
                                <label>Currency</label>
                                <select name="currency" class="form-control" value="{echo $user->currency}">
                                    <option value="INR">INR</option>
                                    <option value="USD">USD</option>
                                    <option value="PKR">PKR</option>
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "currency")}</span>
                            </div>
                            <input type="hidden" name="action" value="account">
                            <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
