<div class="row">
    <div class="col-sm-12">
        <form class="form-inline pull-right" role="form" id="range">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">From</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                    <input type="date" style="width: 180px" name="start" class="form-control" value="{$start}" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">To</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                    <input type="date" style="width: 180px" name="end" class="form-control" value="{$end}" />
                </div>
            </div>
            <input type="hidden" name="user_id" value="{echo $user->_id}">
            <button type="submit" class="btn btn-primary">Show</button>
        </form>
        <h4 class="page-title">
            Campaigns
            <small>(Total: <strong>{echo $count}</strong>)</small>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <table class="m-t-20 table m-b-0">
                <thead>
                    <tr>
                        <th>PREVIEW</th>
                        <th>PAYOUT</th>
                        <th>PERFORMANCE</th>
                        <th>REVENUE</th>
                    </tr>
                </thead>
                <tbody>
                {foreach $a in $ads}
                    {script $c = Commission::allRate($a->id, $user)}
                    {script $p = Shared\Services\Campaign::performance($a->id, ['end' => date('Y-m-d'), 'start' => $a->created->format('Y-m-d'), 'meta' => false])}
                    <tr>
                        <td>
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object izoom" src="{echo Ad::displayImg($a->image)}" alt="..." width="70" height="70">
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        {if $a->live}
                                        <i class="fa fa-circle text-success"></i>
                                        {/if} {else}
                                        <i class="fa fa-circle text-warning"></i>
                                        {/else}
                                        <a href="/campaign/details/{$a->_id}.html">{echo $a->title}</a>
                                    </h5>
                                    {foreach $cat in $a->category}
                                        {script $key = Shared\Utils::getMongoID($cat)}
                                        <label class="label label-info">{echo $categories[$key]->name}</label>
                                    {/foreach}
                                </div>
                            </div>
                        </td>
                        <td><small>{echo $c}</small></td>
                        <td>
                            {if($p["total"]["clicks"])}Clicks <span class="badge">{echo $p["total"]["clicks"] ?? 0}</span>{/if}
                            {if($p["total"]["conversions"])}<br>Conversions <span class="badge">{echo $p["total"]["conversions"] ?? 0}</span>{/if}
                            {if($p["total"]["impressions"])}<br>Impressions <span class="badge">{echo $p["total"]["impressions"] ?? 0}</span>{/if}
                        </td>
                        <td>{echo $user->convert($p["total"]["revenue"] ?? 0)}</td>
                    </tr>
                {/foreach}
                </tbody>
            </table>

            <div class="text-center">
                <ul class="pager">
                    {if ($page != 1)}
                    <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous Page</a></li>
                    {/if}
                    {if ($page < $count/$limit)}
                    <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next Page</a></li>
                    {/if}
                </ul>
            </div>
        </div>
    </div>
</div>