<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <a href="/advertiser/manage.csv" download="advertiser.csv" class="btn btn-inverse pull-right"><i class="fa fa-download"></i> Export to CSV</a> 
                        <form class="form-inline pull-right" role="form" id="range">
                            <div class="form-group">
                                <select class="form-control" name="property" value="{$property}">
                                    <option value="name">Name</option>
                                    <option value="live">Live</option>
                                    <option value="email">Email</option>
                                    <option value="phone">Phone</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="value" value="{echo $value}">
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                            <a href="/advertiser/add.html" class="btn btn-success"><i class="fa fa-plus"></i> New advertiser</a>
                        </form>
                        <h4 class="page-title">Advertisers <small><a href="/advertiser/manage.html?property=live&amp;value=1">Active({echo $active})</a> | <a href="/advertiser/manage.html?property=live&amp;value=0">Inactive({echo $inactive})</a></small></h4>
                    </div>

                    <div class="card-box">
                        {if isset($message)}
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {echo $message}
                        </div>
                        {/if}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $a in $advertisers}
                                    <tr>
                                        <td>
                                            {if $a->live}
                                            <span class="text text-success">{echo $a->_id}</span>
                                            {/if} {else}
                                            <span class="text text-warning">{echo $a->_id}</span>
                                            {/else}
                                        </td>
                                        <td>{echo $a->name}</td>
                                        <td>{echo $a->email}</td>
                                        <td>{echo Framework\StringMethods::only_date($a->created)}</td>
                                        <td>
                                            <a href="/advertiser/info/{echo $a->_id}.html" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
                                            {if !$a->live}
                                            <a href="advertiser/update/{echo $a->_id}" data-send='{echo json_encode(["live" => 1])}' class="update btn btn-xs btn-success"><i class="fa fa-check"></i></a>
                                            {/if} {else}
                                            <a href="advertiser/update/{echo $a->_id}" data-send='{echo json_encode(["live" => 0])}' class="update btn btn-xs btn-warning"><i class="fa fa-times"></i></a>
                                            {/else}
                                            <a href="advertiser/delete/{echo $a->_id}" data-message="Are you sure you want to delete this advertiser??" class="delete btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                                            <a href="/auth/loginas/{echo $a->_id}" class="btn btn-xs btn-default"><i class="fa fa-sign-in"></i></a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pager">
                            {if ($page != 1)}
                            <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                            {/if} {if ($page < $count/$limit)}
                            <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
