<div class="row">
    <div class="col-sm-12">
        <form class="form-inline pull-right" role="form" id="range">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">From</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                    <input type="date" style="width: 180px" name="start" class="form-control" value="{echo $start}" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">To</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                    <input type="date" style="width: 180px" name="end" class="form-control" value="{echo $end}" />
                </div>
            </div>
            <input type="hidden" name="user_id" value="{echo $user->_id}">
            <button type="submit" class="btn btn-primary">Show</button>
        </form>
        <h4 class="page-title">Payment</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Revenue Table</b></h4>
            <table class="tablesaw m-t-20 table m-b-0" data-tablesaw-mode="stack">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Clicks</th>
                        <th>Debit</th>
                    </tr>
                </thead>
                <tbody>
                    {script $total = 0.00} {foreach $p in $performances}
                    <tr>
                        <td>{echo Framework\StringMethods::only_date($p->created)}</td>
                        <td>{echo $p->clicks}</td>
                        <td><i class="fa fa-usd"> {echo $p->revenue}</i></td>
                        {script $total += $p->revenue}
                    </tr>
                    {/foreach}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total: <i class="fa fa-usd"> {echo $total}</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Payout Done</b></h4>
            <table class="tablesaw m-t-20 table m-b-0" data-tablesaw-mode="stack">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $t in $transactions}
                    <tr>
                        <td>{echo Framework\StringMethods::only_date($t->created)}</td>
                        <td>{echo $t->amount . " " . $t->currency}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
