{include campaign/modals/contest.html}
<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addContest"><i class="fa fa-plus"></i> Add new Contest</button>
                        <h4 class="page-title">Contest</h4>
                    </div>
                    {if isset($message)}
                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {echo $message}
                    </div>
                    {/if}
                </div>
            </div>
            <div class="row">
                {foreach $contest in $contests}
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">Contest</h4>
                        <form role="form" method="post" action="">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" name="title" value="{echo $contest->title}" required="">
                            </div>
                            <!-- Display Contest Meta according to type -->
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" disabled="" class="form-control" value="{echo $contest->type}" name="type" required="">
                            </div>
                            <div class="form-group">
                            {script $condition = $contest->meta['condition']}
                            {if $contest->type === "clickRange"}
                            <label for="Clicks Range">Clicks Range</label>
                            {foreach $c in $condition}
                                <div class="input-group">
                                    <input type="text" name="rangeStart[]" placeholder="Click Range Start" class="form-control" value="{echo $c['start']}"><span class="input-group-addon">-</span>
                                    <input type="text" name="rangeEnd[]" placeholder="Click Range End" class="form-control" value="{echo $c['end']}"><span class="input-group-addon">-</span>
                                    <input type="text" placeholder="Click Range Prize" name="rangePrize[]" class="form-control" value="{echo $c['prize']}">
                                </div>
                            {/foreach}
                            {/if} {elseif $contest->type === "topEarner"}
                            <label for="Top Earner">Top Earners</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="topEarnerCount" class="form-control" value="{echo $condition['topEarnerCount']}" placeholder="Top Earner count"><span class="input-group-addon">-</span>
                                    <input type="text" name="topEarnerPrize" class="form-control" value="{echo $condition['price']}" placeholder="Prize given to the top earners">
                                </div>
                            </div>
                            {/elseif}
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    {script $date = date('Y-m-d', $contest->start->sec)}
                                    <label class="sr-only">Start</label>
                                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> Start</span>
                                    <input type="date" style="width: 180px" name="start" class="form-control" value="{echo $date}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    {script $date = date('Y-m-d', $contest->end->sec)}
                                    <label class="sr-only">End</label>
                                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> End</span>
                                    <input type="date" style="width: 180px" name="end" class="form-control" value="{echo $date}" />
                                </div>
                            </div>
                            <input type="hidden" name="contest_id" value="{echo $contest->_id}">
                            <input type="hidden" name="action" value="contest">
                            <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                            <a href="campaign/contest/{echo $contest->_id}" data-message="Are you sure you want to delete this contest??" class="delete btn btn-danger"><i class="fa fa-trash"></i> Remove</a>
                        </form>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
