<script>
    window.advertisers = JSON.parse('{echo json_encode($advertisers)}');
    window.currency = '{echo strtolower($user->currency)}';
</script>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/admin.html">Dashboard</a></li>
                            <li><a href="/campaign/manage.html">All campaigns</a></li>
                            <li class="active">Create Campaign</li>
                        </ol>
                        <h4 class="page-title">Create Campaign</h4>
                    </div>
                </div>
            </div>
            {if isset($message)}
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {echo $message}
            </div>
            {/if}
            <form method="post" action="" enctype="multipart/form-data">
                <div class="row">
                    <div class="panel panel-body card-box">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Advertiser">Advertiser</label>
                                <small class="pull-right"><u><a href="/advertiser/add.html" target="_blank">Add new advertiser</a></u></small>
                                <select name="advert_id" id="advertiserSelect" class="form-control" required="">
                                    {foreach $a in $advertisers}
                                    <option value="{echo $a->_id}">{echo $a->name}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Device</label>
                                {script $device = ['all']}
                                <select name="device[]" class="form-control selectVal selectpicker" multiple="" data-live-search=true title="Choose a device target" data-value='{echo json_encode($device)}'>
                                    {script $devices = Shared\Markup::devices()}
                                    {foreach $d in $devices}
                                    <option value="{echo $d_i}">{echo $d}</option>
                                    {/foreach}
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "device")}</span>
                            </div>
                            <div class="form-group">
                                <label>Landing Page URL</label>
                                <input type="url" class="form-control" name="url" required="" value="{echo $meta['url']}">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "url")}</span>
                            </div>
                            {if (isset($type) && $type == "video")}
                            <div class="form-group">
                                <label>Youtube Video URL</label>
                                <input type="hidden" name="type" value="{echo $type}">
                                <input type="url" class="form-control" name="videoUrl" required="" value="{echo $meta['url']}">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "videoUrl")}</span>
                            </div>
                            {/if}
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title" class="form-control" maxlength="100" required="" value="{echo $meta['title']}">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "title")}</span>
                            </div>
                            <div class="form-group">
                                <label>Description (Optional)</label>
                                <textarea class="form-control" name="description" rows="3">{echo $meta['description']}</textarea>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "description")}</span>
                            </div>
                            <div class="form-group">
                                <label>End Date (Optional) <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="The date on which your Campaign goes inactive"></i></label>
                                <input type="date" name="expiry" class="form-control">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "expiry")}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Visibility</label>
                                <div class="form-control">
                                    <label class="radio-inline" data-toggle="tooltip" data-placement="top" data-original-title="Private : Visible to selected affiliates">
                                        <input type="radio" name="visibility" value="private"> Private
                                    </label>
                                    <label class="radio-inline" data-toggle="tooltip" data-placement="top" data-original-title="Public: Visible to all affiliates">
                                        <input type="radio" name="visibility" id="vpublic" value="public" checked=""> Public
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="perm">
                                <label>Requires Permission to Run</label>
                                <div class="form-control">
                                    <label class="radio-inline">
                                        <input type="radio" name="permission" value="true"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="permission" value="false" checked=""> No
                                    </label>
                                </div>
                                <small class="help-block">Affiliate will apply to run this campaign</small>
                            </div>
                            <div class="form-group">
                                <label>Category <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="A customized category you choose for the offer, usually the vertical of the product or service, such as “Utility”, “Games”, and “Entertainment” etc. You can also create a new Category."></i></label>
                                <small class="pull-right"><u><a href="/admin/settings.html" target="_blank">Add more categoryies</a></u></small>
                                <select name="category[]" class="selectpicker form-control" multiple="" data-live-search=true title="Choose a campaign category">
                                    {foreach $cat in $categories}
                                    <option value="{echo $cat->_id}">{echo $cat->name}</option>
                                    {/foreach}
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "category")}</span>
                            </div>
                            <div class="form-group">
                                <label>Image <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="Image should be 650px X 315px for good reach on Social Media"></i></label>
                                {script $im = $meta['image']}
                                {if $im}
                                <img src="{echo $im}" class="img-thumbnail">
                                <input type="hidden" name="image_url" value="{echo $im}">
                                {/if}
                                <input type="file" class="form-control" name="image" {if !$im}required=""{/if}>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "image")}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {script $i = 0}
                <div class="row">
                    <div class="card-box panel panel-body">
                        <h4 class="m-t-0 header-title"><b>Commission Details</b></h4>
                        <span class="pull-right"><button type="button" class="btn btn-danger btn-sm comm"><i class="fa fa-trash"></i> Remove</button></span>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Model <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="How advertiser pays for the offers:CPA,CPC,CPI etc. Change offer pricing type will remove revenue, offer payout, offer cap and affiliate cap,and also delete affiliate payout and volume based tiers which related to this offer."></i></label>
                                <select name="model[$i]" required="" class="form-control model" data-live-search="false">
                                    {include auth/model.html}
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "model")}</span>
                            </div>
                            <div class="form-group">
                                <label>Revenue <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="The amount you receive from the advertiser for one promotion unit."></i></label>
                                <div class="input-group">
                                    {script $modelRate = array_values($advertisers)[0]->meta['campaign'] ?? []}
                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                    <input type="text" name="revenue[$i]" value="{echo $user->convert($modelRate['rate'] ?? 0.025, false)}" class="form-control advertiserRate" required="">
                                </div>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "revenue")}</span>
                            </div>
                            <div class="form-group">
                                <label for="Rate">Payout <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="The amount of cost you pay your affiliates or publishers for one promotion unit."></i></label>
                                <div class="input-group">
                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                    <input type="text" name="rate[$i]" class="form-control" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Coverage</label>
                                {script $country = ['ALL']}
                                <select name="coverage[$i][]" class="form-control selectVal selectpicker" data-value='{echo json_encode($country)}' multiple="" data-live-search=true title="Choose a campaign category">
                                    {include auth/country.html}
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "coverage")}</span>
                            </div>
                            <div class="form-group">
                                <label data-toggle="tooltip" data-placement="top" data-original-title="Details for successful conversion">Description <small>(Optional)</small></label>
                                <textarea class="form-control" name="comm_desc[$i]" rows="3"></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="save">
                    </div>
                </div>
                {foreach $c in $org->meta["commission"]}
                {script $i++}
                <div class="row">
                    <div class="card-box panel panel-body">
                        <h4 class="m-t-0 header-title"><b>Commission Details</b></h4>
                        <span class="pull-right"><button type="button" class="btn btn-danger btn-sm comm"><i class="fa fa-trash"></i> Remove</button></span>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Model <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="How advertiser pays for the offers:CPA,CPC,CPI etc. Change offer pricing type will remove revenue, offer payout, offer cap and affiliate cap,and also delete affiliate payout and volume based tiers which related to this offer."></i></label>
                                <select name="model[$i]" required="" class="form-control model" data-live-search="false" value="{echo $c['model']}">
                                    {include auth/model.html}
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "model")}</span>
                            </div>
                            <div class="form-group">
                                <label>Revenue <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="The amount you receive from the advertiser for one promotion unit."></i></label>
                                <div class="input-group">
                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                    <input type="text" name="revenue[$i]" value="{echo $user->convert($modelRate['rate'] ?? 0.025, false)}" class="form-control advertiserRate" required="">
                                </div>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "revenue")}</span>
                            </div>
                            <div class="form-group">
                                <label for="Rate">Payout <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="The amount of cost you pay your affiliates or publishers for one promotion unit."></i></label>
                                <div class="input-group">
                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                    <input type="text" name="rate[$i]" class="form-control" required="" value="{echo $user->convert($c['rate'], false, 4)}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Coverage</label>
                                <select name="coverage[$i][]" data-value='{echo json_encode($c["coverage"])}' class="selectVal form-control selectpicker" multiple="" data-live-search=true title="Choose a campaign category">
                                    {include auth/country.html}
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "coverage")}</span>
                            </div>
                            <div class="form-group">
                                <label data-toggle="tooltip" data-placement="top" data-original-title="Details for successful conversion">Description <small>(Optional)</small></label>
                                <textarea class="form-control" name="comm_desc[$i]" rows="3"></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="save">
                    </div>
                </div>
                {/foreach}
                <p class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Create</button>
                </p>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
    admin.campaignCreate(advertisers, currency);
});
</script>