<script>
    var advertisers = JSON.parse('{echo json_encode($advertisers)}');
    var link = 'http://track.' + '{echo $domain}' + '/pixel?adid={echo $ad->_id}';
    var reqData = JSON.parse('{echo json_encode(["property" => live, "value" => 1])}');
</script>
<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/admin/index.html">Dashboard</a></li>
                            <li><a href="/campaign/manage.html">All campaigns</a></li>
                            <li class="active">Details</li>
                        </ol>
                        <h4 class="page-title">{echo $ad->title}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs navtab-custom">
                        <li class="active">
                            <a href="#home" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa-home"></i></span>
                                <span class="hidden-xs">Details</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#profile" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                <span class="hidden-xs">Approved</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#stats" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-graph"></i></span>
                                <span class="hidden-xs">Stats</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#pixelTest" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-graph"></i></span>
                                <span class="hidden-xs">Test Pixel</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{echo CDN}uploads/images/{echo $ad->image}" alt="" width="300">
                                </div>
                                <div class="col-md-4">
                                    <p>Offer Revenue: {echo $user->convert($c->rate)} {echo strtoupper($c->model)}</p>
                                    <p>Status: {if($ad->live)}<span class="label label-success">Active</span>{/if}{else}<span class="label label-warning">Inactive</span>{/else}</p>
                                    <p>Advertiser: {echo $advertiser->name}</p>
                                    <p>
                                        Category: 
                                        {foreach $cat in $ad->category}
                                            {script $key = Shared\Utils::getMongoID($cat)}
                                            <label class="label label-info">{echo $categories[$key]->name}</label>
                                        {/foreach}
                                    </p>
                                    <p>Link: <a href="{echo $ad->url}" target="_blank">{echo $ad->url}</a></p>
                                </div>
                                <div class="col-md-4">
                                    <p>Offer Payout: {echo $user->convert($c->revenue)} {echo strtoupper($c->model)}</p>
                                    <p>Created: {echo Framework\StringMethods::only_date($ad->created)}</p>
                                    <p>Pricing Type: {echo strtoupper($c->model)}</p>
                                    <p>GEO: {echo implode(",", $c->coverage)}</p>
                                    <p>Device: {echo implode(",", $ad->device)}</p>
                                    <p>Postback URL: <code>http://track.vnative.com/acquisition?click_id={click_id}</code></p>
                                    <p>CPA Conversion Pixel: <code>&lt;img src='{echo "http://track." . $domain}/pixel?adid={echo $ad->_id}'&gt;</code></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile">
                            <form class="form-inline text-center" role="form" id="range">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="value" placeholder="Publisher Id">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="live">
                                        <option value="1">Approve</option>
                                        <option value="0">Block</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="stats">
                            <div class="row">
                                <form class="form-inline text-center" role="form" id="range">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="sr-only">From</label>
                                            <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                                            <input type="date" style="width: 180px" name="start" class="form-control" value="{$start}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="sr-only">To</label>
                                            <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                                            <input type="date" style="width: 180px" name="end" class="form-control" value="{$end}" />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Show</button>
                                </form>
                                <div>
                                    <p>Clicks: {echo $advertPerf->clicks}</p>
                                    <p>Conversions: {echo $advertPerf->conversions}</p>
                                    <p>Impressinos: {echo $advertPerf->impressions}</p>
                                    <p>Revenue: {echo $advertPerf->revenue}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="pixelTest">
                            <form action="">
                                <select name="advertisers" class="form-control selectpicker" id="selectAdvert">
                                    <option>Select An Advertiser</option>
                                    {foreach $a in $advertisers}
                                    <option value="{echo $a->_id}">{echo $a->name}</option>
                                    {/foreach}
                                </select>
                                <br><br>
                                Steps:
                                <ol>
                                    <li>Select any Advertiser from the list</li>
                                    <li>Get the Tracking Pixel from below and insert it on any page</li>
                                    <li>Fire up the page in web browser</li>
                                    <li>Hit this <button class="btn btn-primary" id="checkStatus">Check Status</button> button</li>
                                    <li>Result: <span id="requestResult" class="label"></span></li>
                                </ol>
                                <p>CPA Conversion Pixel: <code id="testingPixel"></code></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{echo CDN}js/request.js"></script>
<script>
    $('#selectAdvert').on('change', function (e) {
        e.preventDefault();

        var el = $('#testingPixel');
        window.currentAdvert = $(this).val();
        $('#requestResult').html('');
        el.text('<img src="' + link + '&advert_id=' + window.currentAdvert + '">');
    });

    $('#checkStatus').on('click', function (e) {
        e.preventDefault();
        request.get( {
            url: 'advertiser/manage', data: reqData
        }, function (err, d) {

            var resultEl = $('#requestResult');
            $.each(d.advertisers, function (i, el) {
                // check for pixel in meta
                var meta = el._meta || {};
                var status = meta.pixel, found = false;

                if (status === "working" && el.__id == window.currentAdvert)
                    found = true;
                else
                    resultEl.addClass('label-danger').removeClass('label-success').html('Internal Server Error!! Contact Admin');

                if (found)
                    resultEl.addClass('label-success').removeClass('label-danger').html('It is working!!');

                if (found)
                    return false;
            });
        }
        );
    });
</script>
