<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/admin">Dashboard</a></li>
                            <li><a href="/campaign/manage.html">Manage Campaigns</a></li>
                            <li class="active">Edit</li>
                        </ol>
                        <h4 class="page-title">{echo $c->title}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                {if isset($message)}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {echo $message}
                </div>
                {/if}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body no-padding">
                            <form method="post" action="" enctype="multipart/form-data">
                                <div class="panel panel-default panel-body">
                                    <div class="form-group">
                                        <label>Device</label>
                                        <select name="device[]" class="form-control selectpicker" multiple="" data-live-search=true title="Choose a device target">
                                            <option value="all" {if(in_array('all', $c->device))}selected{/if}>All</option>
                                            <option value="android" {if(in_array('android', $c->device))}selected{/if}>Android</option>
                                            <option value="iphone" {if(in_array('iphone', $c->device))}selected{/if}>iPhone</option>
                                            <option value="winphone" {if(in_array('winphone', $c->device))}selected{/if}>Windows Phone</option>
                                            <option value="linux" {if(in_array('linux', $c->device))}selected{/if}>Linux</option>
                                            <option value="windows" {if(in_array('windows', $c->device))}selected{/if}>Windows</option>
                                            <option value="mac" {if(in_array('mac', $c->device))}selected{/if}>Mac OS</option>
                                            <option value="ipad" {if(in_array('ipad', $c->device))}selected{/if}>iPad</option>
                                        </select>
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "device")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" value="{echo $c->title}" name="title">
                                        <span class="help-block">{echo Shared\Markup::errors($errors, "title")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" name="description" rows="3">{echo $c->description}</textarea>
                                        <span class="help-block">{echo Shared\Markup::errors($errors, "description")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select name="category[]" class="form-control" multiple="" data-live-search=true title="Choose a campaign category">
                                        {foreach $cat in $categories}
                                            <option value="{echo $cat->_id}" {if(in_array($cat->_id, $c->category))}selected{/if}>{echo $cat->name}</option>
                                        {/foreach}
                                        </select>
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "category")}</span>
                                        <small class="pull-right"><u><a href="/admin/settings.html" target="_blank">Add more categoryies</a></u></small>
                                    </div>
                                    <div class="form-group">
                                        <label>Image</label>
                                        <img src="{echo CDN}uploads/images/{echo $c->image}" class="img-thumbnail">
                                        <input type="file" class="form-control" name="image" {if !$c->image}required=""{/if}>
                                        <span class="help-block text-info">Image should be 650px X 315px for good reach on Social Media<br>{echo Shared\Markup::errors($errors, "image")}</span>
                                    </div>
                                    <input type="hidden" name="action" value="adedit">
                                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body no-padding">
                            <form method="post" action="" class="panel panel-default panel-body">
                                <div class="form-group">
                                    <label>Model</label>
                                    <select name="model" required="" value="{echo $comm->model}" class="form-control">
                                        <option value="cpc">CPC (Cost per one Click)</option>
                                        <option value="cpm">CPM (Cost per thousand Impressions)</option>
                                        <option value="cpa">CPA (Cost per Action)</option>
                                    </select>
                                    <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "model")}</span>
                                </div>
                                <div class="form-group">
                                    <label>Description (Optional)</label>
                                    <input type="text" class="form-control" name="description" value="{echo $comm->description}">
                                </div>
                                <div class="form-group">
                                    <label>Coverage</label>
                                    <select name="coverage[]" class="form-control selectpicker" multiple="" data-live-search=true title="Choose a campaign category">
                                        {foreach $country in $countries["countries"]}
                                        <option value="{echo $country['code']}" {if(in_array($country['code'], $countries["keyvalue"]))}selected{/if}>{echo $country['name']}</option>
                                        {/foreach}
                                    </select>
                                    <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "coverage")}</span>
                                </div>
                                <div class="form-group">
                                    <label>Revenue (Charged from Advertiser)</label>
                                    <div class="input-group">
                                        <span class="add-on input-group-addon">{echo $user->currency}</span>
                                        <input type="text" name="revenue" pattern="^[0-9]{1,2}(\.[0-9]{0,6})?$" value="{echo $user->convert($comm->revenue, false)}" class="form-control" placeholder="Rate Charged from advertiser. Eg: 0.3" required="">
                                    </div>
                                    <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "revenue")}</span>
                                </div>
                                <div class="form-group">
                                    <label>Payout Rate</label>
                                    <div class="input-group">
                                        <span class="add-on input-group-addon">{echo $user->currency}</span>
                                        <input type="text" name="rate" pattern="^[0-9]{1,2}(\.[0-9]{0,6})?$" value="{echo $user->convert($comm->rate, false)}" class="form-control" placeholder="Rate for revenue model. Eg: 0.3" required="">
                                    </div>
                                    <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "rate")}</span>
                                </div>
                                <input type="hidden" name="action" value="commedit">
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>