<div class="page-title">
    <span class="title">Update Campaign</span>
    <div class="description">
        After edit your campaign become inactive for again approval by admin within 12 hours
    </div>
</div>
<div class="row">
    {if isset($message)}
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {echo $message}
    </div>
    {/if}
    <div class="col-md-6">
        <div class="card">
            <div class="card-body no-padding">
                <form method="post" action="" enctype="multipart/form-data">
                    <div class="panel panel-default panel-body">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" maxlength="100" required="" value="{echo $ad->title}">
                            <span class="help-block">{echo Shared\Markup::errors($errors, "title")}</span>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="description" rows="3">{echo $ad->description}</textarea>
                            <span class="help-block">{echo Shared\Markup::errors($errors, "description")}</span>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select name="category[]" class="form-control" multiple="" data-live-search=true title="Choose a campaign category">
                                {include advertiser/categories.html}
                            </select>
                            <span class="help-block">{echo Shared\Markup::errors($errors, "category")}</span>
                        </div>
                        <div class="form-group">
                            <label>Coverage</label>
                            <select name="coverage[]" class="form-control" multiple="" data-live-search=true title="Choose a campaign category">
                                {include auth/country.html}
                            </select>
                            <span class="help-block">{echo Shared\Markup::errors($errors, "coverage")}</span>
                        </div>
                        <div class="form-group">
                            <label>Start</label>
                            {script $start = date('Y-m-d', $ad->start->sec)}
                            <input type="date" name="start" class="form-control" required="" value="{echo $start}">
                            <span class="help-block">{echo Shared\Markup::errors($errors, "start")}</span>
                        </div>
                        <div class="form-group">
                            <label>End</label>
                            {script $end = date('Y-m-d', $ad->end->sec)}
                            <input type="date" name="end" class="form-control" required="" value="{echo $end}">
                            <span class="help-block">{echo Shared\Markup::errors($errors, "end")}</span>
                        </div>
                        <div class="form-group">
                            <label>Frequency(Number of times ad to be displayed to user)</label>
                            <input type="number" name="frequency" class="form-control" required="" value="{echo $ad->frequency}">
                            <span class="help-block">{echo Shared\Markup::errors($errors, "frequency")}</span>
                        </div>
                        <div class="form-group">
                            <label>CPC</label>
                            <div class="input-group">
                              <span class="input-group-addon">$</span>
                              <input type="number" name="cpc" class="form-control" aria-label="Cost per click" required="" value="{echo $ad->cpc}">
                            </div>
                            <span class="help-block">{echo Shared\Markup::errors($errors, "cpc")}</span>
                        </div>
                        <div class="form-group">
                            <label>Budget</label>
                            <div class="input-group">
                              <span class="input-group-addon">$</span>
                              <input type="number" name="budget" class="form-control" aria-label="Budget of this ad campaign" required="" value="{echo $ad->budget}">
                            </div>
                            <span class="help-block">{echo Shared\Markup::errors($errors, "budget")}</span>
                        </div>
                        <div class="form-group">
                            <label>Target</label>
                            <select name="target[]" class="form-control" multiple="" data-live-search=true title="Choose a campaign category">
                                <option value="m" selected="">Mobile</option>
                                <option value="d" selected="">Desktop</option>
                                <option value="t" selected="">Tablet</option>
                            </select>
                            <span class="help-block">{echo Shared\Markup::errors($errors, "target")}</span>
                        </div>
                        <input type="hidden" name="action" value="content">
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row well">
            <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <div class="row-fluid">
                    <div class="col-sm-4">
                        <img src="{echo CDN}uploads/images/{echo $ad->image}" class="img-responsive">
                    </div>
                    <div class="col-sm-8">
                        <a href="{echo $ad->url}"><b>{echo $ad->title}</b></a>
                        <p>{echo $ad->description}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>