{include campaign/modals/commission.html}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <span class="pull-right">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCommisson"><i class="fa fa-plus"></i> New Commission</button> 
                            <a href="/campaign/details/{echo $c->id}.html" class="btn btn-inverse waves-effect waves-light" data-toggle="tooltip" data-placement="top" data-original-title="Campaign Stats and Details"><i class="fa fa-info-circle"></i> Details</a>
                        </span>
                        <h4 class="page-title">{echo $c->title}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                {if isset($message)}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {echo $message}
                </div>
                {/if}
                <form method="post" action="" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-body no-padding">
                            <div class="panel panel-default panel-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Device</label>
                                        {script $device = is_array($c->device) ? $c->device : ['all']}
                                        <select name="device[]" required="" class="selectVal form-control selectpicker" data-value='{echo json_encode($device)}' multiple="" data-live-search=true title="Choose a device target">
                                            {script $devices = Shared\Markup::devices()}
                                            {foreach $d in $devices}
                                            <option value="{echo $d_i}">{echo $d}</option>
                                            {/foreach}
                                        </select>
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "device")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" value="{echo $c->title}" name="title">
                                        <span class="help-block">{echo Shared\Markup::errors($errors, "title")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" name="description" rows="3">{echo $c->description}</textarea>
                                        <span class="help-block">{echo Shared\Markup::errors($errors, "description")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>End Date (Optional) <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="The date on which your Campaign goes inactive"></i></label>
                                        <input type="date" name="expiry" class="form-control" value="{echo $c->expiry}">
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "expiry")}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select name="category[]" data-value='{echo json_encode($c->getCategories())}' class="selectVal form-control selectpicker" multiple="" data-live-search=true title="Choose a campaign category">
                                        {foreach $cat in $categories}
                                            <option value="{echo $cat->_id}">{echo $cat->name}</option>
                                        {/foreach}
                                        </select>
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "category")}</span>
                                        <small class="pull-right"><u><a href="/admin/settings.html" target="_blank">Add more categoryies</a></u></small>
                                    </div>
                                    <div class="form-group">
                                        <label>Image</label>
                                        <img src="{echo Ad::displayImg($c->image)}" class="img-thumbnail">
                                        <input type="file" class="form-control" name="image" {if !$c->image}required=""{/if}>
                                        <span class="help-block text-info">Image should be 650px X 315px for good reach on Social Media<br>{echo Shared\Markup::errors($errors, "image")}</span>
                                    </div>
                                </div>
                                <input type="hidden" name="action" value="adedit">
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {foreach $comm in $comms}
            <div class="row">
                <div class="card">
                    <div class="card-body no-padding">
                        <form method="post" action="" class="panel panel-default panel-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Model</label>
                                    <select name="model" required="" value="{echo $comm->model}" class="form-control">
                                        {include auth/model.html}
                                    </select>
                                    <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "model")}</span>
                                </div>
                                <div class="form-group">
                                    <label>Revenue (Charged from Advertiser)</label>
                                    <div class="input-group">
                                        <span class="add-on input-group-addon">{echo $user->currency}</span>
                                        <input type="text" name="revenue" pattern="^[0-9]{1,2}(\.[0-9]{0,6})?$" value="{echo $user->convert($comm->revenue, false)}" class="form-control" placeholder="Rate Charged from advertiser. Eg: 0.3" required="">
                                    </div>
                                    <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "revenue")}</span>
                                </div>
                                <div class="form-group">
                                    <label>Payout Rate</label>
                                    <div class="input-group">
                                        <span class="add-on input-group-addon">{echo $user->currency}</span>
                                        <input type="text" name="rate" pattern="^[0-9]{1,2}(\.[0-9]{0,6})?$" value="{echo $user->convert($comm->rate, false)}" class="form-control" placeholder="Rate for revenue model. Eg: 0.3" required="">
                                    </div>
                                    <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "rate")}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Coverage</label>
                                    <select name="coverage[]" data-value='{echo json_encode($comm->coverage)}' class="selectVal form-control selectpicker" multiple="" data-live-search=true title="Choose a campaign category">
                                        {include auth/country.html}
                                    </select>
                                    <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "coverage")}</span>
                                </div>
                                <div class="form-group">
                                    <label>Description (Optional)</label>
                                    <textarea class="form-control" name="description" rows="3"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="action" value="commedit">
                            <input type="hidden" name="cid" value="{echo $comm->id}">
                            <span class="pull-right">
                                <a href="/campaign/edit/{echo $c->id}.html?action=commdel&id={echo $comm->id}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a> 
                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check-circle"></i> Save</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</div>