{include campaign/modals/create.html}
{include campaign/modals/csv.html}
{include campaign/modals/rss.html}
<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <span class="pull-right">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#uploadByRSS"><i class="fa fa-rss"></i> Import By RSS</button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadByCSV"><i class="fa fa-upload"></i> Upload CSV</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCampaign"><i class="fa fa-plus"></i> New Campaign</button>
                        </span>
                        <h4 class="page-title">Campaigns Auto-Import</h4>
                    </div>
                    {if isset($message)}
                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {echo $message}
                    </div>
                    {/if}
                </div>
            </div>
            <div class="row">
                {foreach $p in $platforms}
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>RSS Feed</b></h4>
                        <form role="form" method="post" action="">
                            <div class="form-group">
                                <label>URL</label>
                                {script $url = (string) ($p->meta['rss']['url'])}
                                <input type="url" name="url" value="{echo $url}" class="form-control" placeholder="Full Name">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "url")}</span>
                            </div>
                            <div class="form-group">
                                <label for="track">RSS Feed Parsing</label>
                                {script $parsing = (string) ((int) $p->meta['rss']['parsing'])}
                                <select name="parsing" class="form-control">
                                    <option value="1" {if($parsing == "1")}selected{/if}>Yes</option>
                                    <option value="0" {if($parsing == "0")}selected{/if}>No</option>
                                </select>
                            </div>
                            <input type="hidden" name="pid" value="{echo $p->_id}">
                            <input type="hidden" name="action" value="platform">
                            <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                        </form>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
