{include campaign/modals/create.html}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#createCampaign"><i class="fa fa-plus"></i> New Campaign</button>
                        <h4 class="page-title">Campaigns <small><a href="/campaign/manage.html?property=live&amp;value=1">Active({echo $active})</a> | <a href="/campaign/manage.html?property=live&amp;value=0">Inactive({echo $inactive})</a></small></h4>
                    </div>
                    <div class="card-box">
                        {if isset($message)}
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {echo $message}
                        </div>
                        {/if}
                        <form class="form-inline text-center" role="form" id="range">
                            <div class="form-group">
                                <select class="form-control" name="property" value="{$property}">
                                    <option value="user_id">Advertiser Id</option>
                                    <option value="live">Live</option>
                                    <option value="title">Title</option>
                                    <option value="url">URL</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="value" value="{echo $value}">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only">From</label>
                                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                                    <input type="date" style="width: 180px" name="start" class="form-control" value="{$start}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only">To</label>
                                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                                    <input type="date" style="width: 180px" name="end" class="form-control" value="{$end}" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>PREVIEW</th>
                                        <th>TITLE</th>
                                        <th>PAYOUT</th>
                                        <th>CATEGORY</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tbody>
                                        {foreach $a in $campaigns} {script $c = Commission::first(["ad_id = ?" => $a->id])}
                                        <tr>
                                            <td>
                                                {if $a->live}
                                                <span class="label label-success"><i class="fa fa-circle"></i> </span>
                                                {/if} {else}
                                                <span class="label label-warning"><i class="fa fa-circle"></i> </span>
                                                {/else}
                                            </td>
                                            <td>
                                                <img src="{echo CDN}uploads/images/{echo $a->image}" alt="" class="img-responsive" width="70" height="70"> {script $id = $a->_id}
                                                <a href="{echo $a->url}" target="_blank" class="btn btn-purple btn-xs waves-effect waves-light">Landing page</a>
                                            </td>
                                            <td><a href="/campaign/info/{$a->_id}.html">{echo $a->title}</a></td>
                                            <td>
                                                <b>{echo strtoupper($c->model)}</b> {echo $user->convert($c->rate)} 
                                                <br>
                                                <small>{echo $c->description}</small>
                                            </td>
                                            <td>
                                                {foreach $cat in $a->category}
                                                    {script $key = Shared\Utils::getMongoID($cat)}
                                                    <label class="label label-info">{echo $categories[$key]->name}</label>
                                                {/foreach}
                                            </td>
                                            <td>
                                                {if !$a->live}
                                                <a href="campaign/update/{echo $a->_id}" data-send='{echo json_encode(["live" => 1])}' class="update btn btn-xs btn-success"><i class="fa fa-check"></i> Enable</a>
                                                {/if} {else}
                                                <a href="campaign/update/{echo $a->_id}" data-send='{echo json_encode(["live" => 0])}' class="update btn btn-xs btn-warning"><i class="fa fa-times"></i> Disable</a>
                                                {/else}
                                                <a href="/campaign/edit/{echo $a->_id}" class="btn btn-xs btn-default"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="campaign/delete/{echo $a->_id}" data-message="Are you sure you want to delete this campaign??" class="delete btn btn-xs btn-danger"><i class="fa fa-trash"></i> Remove</a>
                                            </td>
                                        </tr>
                                        {/foreach}
                                    </tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pager">
                            {if ($page != 1)}
                            <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                            {/if} {if ($page < $count/$limit)}
                            <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>
