<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>
    <!-- TITLE OF SITE -->
    <title>ChocoGhar Ads Network</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="ChocoGhar is a platform which enables social media publishers and social influencers to monetize from their resources. Publishers can start driving relevant traffic to other websites, mobile app or video using the ChocoGhar publisher platform and monetize on a per click basis" />
    <meta name="keywords" content="ChocoGhar, affiliate Network" />
    <meta name="developer" content="Faizan Ayubi, faizan@cloudstuffs.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--   FAV AND TOUCH ICONS   -->
    <link rel="icon" href="{echo CDN}images/favicon.ico">
    <link rel="apple-touch-icon" href="{echo CDN}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{echo CDN}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{echo CDN}images/apple-touch-icon-114x114.png">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- FONT ICONS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{echo CDN}icons/linea/styles.css">
    <link rel="stylesheet" href="{echo CDN}icons/elegant_icon/style.css">
    <!-- CAROUSEL SLIDERS -->
    <link rel="stylesheet" href="{echo CDN}css/owl.carousel.css">
    <link rel="stylesheet" href="{echo CDN}css/owl.theme.css">
    <link rel="stylesheet" href="{echo CDN}css/owl.transitions.css">
    <!-- Pop Up Images -->
    <link rel="stylesheet" href="{echo CDN}css/magnific-popup.css">
    <!--  CSS3 ANIMATE CSS  -->
    <link rel="stylesheet" href="{echo CDN}css/animate.css">
    <!-- Preloader CSS -->
    <link rel="stylesheet" href="{echo CDN}css/preloader.css">
    <!--   COUSTOM CSS link  -->
    <link rel="stylesheet" href="{echo CDN}css/style-startup-style-3.css">
    <link rel="stylesheet" href="{echo CDN}css/responsive-startup-style-3.css">
    <!-- COLOR SCHEME -->
    <link rel="stylesheet" href="{echo CDN}css/colors/startup-style-3/lightSeaGreen.css" type="text/css" id="theme-link" />
</head>

<body>
    {include layouts/navigation/standard.html} {ayield action}
    <!-- Start: Footer Area
        =============================== -->
    <footer class="footer">
        <div class="container">
            <div class="row footer-body section-separator">
                <div class="copyright col-sm-12 col-md-8">
                    <p>&copy; 2015 ChocoGhar, Developed by <a href="https://www.cloudstuffs.com/" target="_blank" title="cloudstuffs.com">www.CloudStuffs.com</a></p>
                </div>
                <!-- Social Icon Goes Here  -->
                <div class="social-icon social-icon-color col-sm-12 col-md-4">
                    <ul class="nav navbar-right">
                        <li>
                            <a href="https://www.facebook.com/groups/197037957298460/" data-color="#3C5A99" title="Facebook"> <i class="fa fa-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="index.html#" data-color="#28A9E0" title="Twitter"> <i class="fa fa-twitter"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End: .row .footer-body .section-separator  -->
        </div>
        <!-- End: .container  -->
    </footer>
    <!-- End: Footer Area
        =====================================-->
    <!-- SCRIPTS
        ========================================-->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{echo CDN}js/matchMedia.js"></script>
    <script src="{echo CDN}js/navbar.matchMedia.js"></script>
    <script src="{echo CDN}js/jquery.stellar.min.js"></script>
    <script src="{echo CDN}js/jquery.scrollTo.min.js"></script>
    <script src="{echo CDN}js/jquery.localScroll.min.js"></script>
    <script src="{echo CDN}js/owl.carousel.min.js"></script>
    <script src="{echo CDN}js/smoothscroll.js"></script>
    <script src="{echo CDN}js/jquery.nav.js"></script>
    <script src="{echo CDN}js/wow.min.js"></script>
    <!-- Custom Script
        ==========================================-->
    <script src="{echo CDN}js/public-1.0.js"></script>
</body>

</html>
