<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">Minton</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active">Blank</li>
                        </ol>
                        <h4 class="page-title">Blank</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        User: {echo $publisher->name} <br>
                        Date: {echo Framework\StringMethods::only_date($perf->created)}

                        {if isset($message)}
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {echo $message}
                        </div>
                        {/if}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body no-padding">
                            <form method="post" action="" class="panel panel-default panel-body">
                                <div class="form-group">
                                    <label for="Clicks">Clicks</label>
                                    <input type="text" name="clicks" class="form-control" required="" value="{echo $perf->clicks}">
                                </div>

                                <div class="form-group">
                                    <label for="Revenue">Revenue</label>
                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                    <input type="text" name="revenue" class="form-control" required="" value="{echo $user->convert($perf->revenue, false)}">
                                </div>

                                <div class="form-group">
                                    <label for="Impressions">Impressions</label>
                                    <input type="text" name="impressions" class="form-control" required="" value="{echo $perf->impressions}">
                                </div>
                                <input type="hidden" name="perf_id" value="{echo $perf->_id}">
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
