<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/admin.html">Dashboard</a></li>
                            <li class="active">Billing</li>
                        </ol>
                        <h4 class="page-title">Billing</h4>
                    </div>
                    <p class="text-center">No Billing Till now</p>
                </div>
            </div>
        </div>
    </div>
</div>
