<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">vNative Billing</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs navtab-custom">
                        <li class="active">
                            <a href="#bills" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-file-text-o"></i></span>
                                <span class="hidden-xs">Bills</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#credits" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa-money"></i></span>
                                <span class="hidden-xs">Credits</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#payments" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa-money"></i></span>
                                <span class="hidden-xs">Payment History</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="bills">
                            <span class="text-center">
                                <h4 class="m-t-0 header-title">Summary</h4>
                                <h4 class="m-t-0 header-title">START: {echo Framework\StringMethods::only_date($start)} - END: {echo Framework\StringMethods::only_date($end)}</h4>
                                <form class="form-inline" role="form" id="range">
                                    <div class="form-group">
                                        <label>Date: </label>
                                        <select name="invoice" class="form-control" value="{echo $invoice}" style="width: 200px;">
                                            <option value="current">Current</option>
                                            {foreach $b in $bills}
                                            <option value="{echo $b->id}">{echo Framework\StringMethods::only_date($b->created)}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Show</button>
                                </form>
                            </span>
                            <div class="table-rep-plugin">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Rate</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Clicks</td>
                                                <td>{echo $clicks['total']}</td>
                                                <td>{echo $user->convert($org->meta["bill"]["tcc"])} per thousand</td>
                                                <td>{echo $user->convert($clicks['cost'])}</td>
                                            </tr>
                                            <tr>
                                                <td>Impressions</td>
                                                <td>{echo $impressions['total']}</td>
                                                <td>{echo $user->convert($org->meta["bill"]["mic"])} per million</td>
                                                <td>{echo $user->convert($impressions['cost'])}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Total</b></td>
                                                <td></td>
                                                <td></td>
                                                <td><b>{echo $user->convert($impressions['cost'] + $clicks['cost'], true, 2, false)}</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p class="text-center">
                                {if(!$bill->live && ($invoice != "current"))}
                                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZVD7V4XDGC7E4&amount={echo ($impressions['cost'] + $clicks['cost'])}" class="btn btn-primary"><i class="fa fa-paypal"></i> Pay with Paypal</a>
                                {/if}{else}
                                    
                                {/else}
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="credits"></div>
                        <div class="tab-pane" id="payments"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
