<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/admin">Dashboard</a></li>
                            <li class="active">Account</li>
                        </ol>
                        <h4 class="page-title">Account</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                {if isset($message)}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {echo $message}
                </div>
                {/if}
                <div class="col-md-12">
                    <ul class="nav nav-tabs navtab-custom">
                        <li class="active">
                            <a href="#appearance" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-home"></i></span>
                                <span class="hidden-xs">Appearance</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#profile" data-toggle="tab" aria-expanded="true">
                                <span class="visible-xs"><i class="fa fa-user"></i></span>
                                <span class="hidden-xs">Profile</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#billing" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-money"></i></span>
                                <span class="hidden-xs">Network Billing</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#affiliate" data-toggle="tab" aria-expanded="false">
                                <span class="visible-xs"><i class="fa fa-users"></i></span>
                                <span class="hidden-xs">Affiliate</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="appearance">
                            <form role="form" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="name" value="{echo $org->name}" class="form-control" placeholder="Network Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Network Link</label>
                                            <input type="text" name="url" value="{echo $org->url}" class="form-control" placeholder="Whitelist url of network">
                                        </div>
                                        <div class="form-group">
                                            <label>Support Email</label>
                                            <input type="email" name="email" value="{echo $org->email}" class="form-control" placeholder="Support email for affilliates">
                                        </div>
                                        <div class="form-group">
                                            <label>Terms and Conditions URL(Optional)</label>
                                            <input type="text" name="termsurl" value="{echo $org->meta['termsurl']}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Widgets</label>
                                            <select name="widgets[]" class="form-control selectpicker" multiple="">
                                                <option value="top10pubs" {if(in_array("top10pubs", $org->meta["widgets"]))}selected=""{/if}>Top10 Publishers</option>
                                                <option value="top10ads" {if(in_array("top10ads", $org->meta["widgets"]))}selected=""{/if}>Top10 Ads</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Zopim ID(Optional)</label>
                                            <input type="text" name="zopim" value="{echo $org->meta['zopim'] ?? ''}" class="form-control" placeholder="Zopim Chat Integration ID">
                                        </div>
                                        <div class="form-group">
                                            <label>Network Image (Optional)<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="Allows you to add logo of your network"></i></label>
                                            {if(strlen($org->logo) > 3)}
                                            <img src="{echo User::displayImg($org->logo)}" class="img-thumbnail">
                                            <a href="/admin/customization.html?action=removelogo&img={echo $org->logo}" class="btn btn-danger pull-right btn-xs">Remove Image</a>
                                            {/if} {else}
                                            <input type="file" class="form-control" name="logo">
                                            <span class="help-block text-info">Image should be 450px X 150px</span>
                                            {/else}
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="action" value="org">
                                <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
                            </form>
                        </div>
                        <div class="tab-pane" id="profile">
                            <div class="row">
                                <div class="col-md-6">
                                    <form role="form" method="post">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="name" value="{echo $user->name}" class="form-control" placeholder="Full Name" required="">
                                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "name")}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="tel" name="phone" value="{echo $user->phone}" class="form-control" required="">
                                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Currency</label>
                                            <select name="currency" class="form-control" value="{echo $user->currency}">
                                                <option value="INR">INR <i class="fa fa-inr"></i></option>
                                                <option value="USD">USD <i class="fa fa-usd"></i></option>
                                                <option value="PKR">PKR <i class="fa fa-inr"></i></option>
                                                <option value="AUD">AUD <i class="fa fa-usd"></i></option>
                                                <option value="EUR">EUR <i class="fa fa-eur"></i></option>
                                                <option value="GBP">GBP <i class="fa fa-gbp"></i></option>
                                            </select>
                                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "currency")}</span>
                                        </div>
                                        <input type="hidden" name="action" value="account">
                                        <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="m-t-0 header-title text-center"><b>Change Password</b></h4>
                                    <form class="form-horizontal" role="form" method="post">
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-3 control-label">Old Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" name="password" placeholder="Old Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword4" class="col-sm-3 control-label">New Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" name="npassword" placeholder="New Password">
                                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-0">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <input type="hidden" name="action" value="password">
                                                <button type="submit" class="btn btn-info waves-effect waves-light">Change</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="billing">
                            <form role="form" method="post">
                                <div class="row">
                                    <div class="col-md-6 form-horizontal">
                                        <h4 class="m-t-0 header-title text-center"><b>Affiliate</b></h4>
                                        {script $affbilling = isset($org->billing['aff']) ? $org->billing['aff'] : []}
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label"></label>
                                            <div class="col-sm-8">
                                                <div class="checkbox checkbox-primary">
                                                    <input id="affoption" type="checkbox" name="auto" value="true" {if($affbilling["auto"])}checked{/if}>
                                                    <label for="affoption">
                                                        Auto Generate Invoices
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group hide affauto">
                                            <label class="col-sm-4 control-label">Invoice Frequency</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="freq" class="form-control" placeholder="Enter number of Days e.g 30" value="{echo $affbilling['freq']}">
                                            </div>
                                        </div>
                                        <div class="form-group hide affauto">
                                            <label class="col-sm-4 control-label">Minimum Invoice Payments</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                                    <input type="text" name="minpay" class="form-control" placeholder="eg. 50" value="{echo $user->convert($affbilling['freq'], false, 4)}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Payment Types</label>
                                            <div class="col-sm-8">
                                                <select name="ptypes[]" class="form-control selectpicker selectVal" multiple="" data-value='{echo json_encode($affbilling["ptypes"])}'>
                                                    <option value="wire">Wire Transfer</option>
                                                    <option value="paypal">PayPal</option>
                                                    <option value="payquicker">PayQuicker</option>
                                                    <option value="payoneer">Payoneer</option>
                                                    <option value="paytm">Paytm</option>
                                                    <option value="mobicash">Mobicash</option>
                                                    <option value="easypaisa">EasyPaisa</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-horizontal">
                                        {script $advbilling = isset($org->billing['adv']) ? $org->billing['adv'] : []}
                                        <h4 class="m-t-0 header-title text-center"><b>Advertiser</b></h4>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Company PayPal</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="paypal" class="form-control" placeholder="Your company paypal email address" value="{echo $advbilling['paypal']}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="action" value="billing">
                                <p class="text-center">
                                    <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                                </p>
                            </form>
                        </div>
                        <div class="tab-pane" id="affiliate">
                            <div class="row">
                                <div class="col-md-6">
                                    <form role="form" method="post" class="form-horizontal">
                                        <h4 class="m-t-0 header-title text-center"><b>Create Additional Fields</b></h4>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="fname" class="form-control" placeholder="Eg: Skype Id" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Type</label>
                                            <div class="col-sm-8">
                                                <select name="ftype" class="form-control selectpicker">
                                                    <option value="text">Text</option>
                                                    <option value="file">File</option>
                                                    <option value="image">Image</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Required Field</label>
                                            <div class="col-sm-8">
                                                <div class="radio">
                                                  <label><input type="radio" name="frequired" checked="" value="1">Yes</label>
                                                </div>
                                                <div class="radio">
                                                  <label><input type="radio" name="frequired" value="0">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="action" value="customField">
                                        <p class="text-center">
                                            <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                                        </p>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="m-t-0 header-title text-center"><b>Saved Additional Fields</b></h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th>S. No</th>
                                                <th>Field Name</th>
                                                <th>Field Type</th>
                                            </tr>
                                            {script $i = 1} {foreach $f in $fields}
                                            <tr>
                                                <td>{echo $i++}</td>
                                                <td>{echo $f['label']}</td>
                                                <td>{echo $f['type']}</td>
                                            </tr>
                                            {/foreach}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("input[type=checkbox]").click(function() {
    if ($("#affoption").is(":checked")) 
        $(".affauto").removeClass('hide');
    else 
        $(".affauto").addClass('hide');
});
</script>