<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Data
                            </a>
                            <a href="/manage/customers.html" class="list-group-item"><i class="fa fa-bullhorn fa-2x"></i>  Customers <span class="badge">{echo Customer::count()}</span></a>
                            <a href="/campaign/all.html" class="list-group-item"><i class="fa fa-file fa-2x"></i> Campaigns <span class="badge">{echo Shared\Markup::nice_number(\Ad::count())}</span></a>
                            <a href="/admin/search.html?model=link&amp;key=live&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-link fa-2x"></i>  AdUnits <span class="badge">{echo Shared\Markup::nice_number(\AdUnit::count())}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-money"></i> Finance
                            </a>
                            <a href="/admin/search.html?model=payment&amp;key=live&amp;sign=like&amp;value=1" class="list-group-item"><i class="fa fa-money fa-2x"></i>  Payment Done <span class="badge"> {}</span></a>
                            <a href="#" class="list-group-item"><i class="fa fa-exchange fa-2x"></i>  Payments Received <span class="badge">{}</span></a>
                            <a href="/finance/payouts.html" class="list-group-item"><i class="fa fa-bank fa-2x"></i>  Payouts <span class="badge"> {}</span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Monitor
                            </a>
                            <a href="/admin/search.html?model=team&amp;key=live&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-user-secret fa-2x"></i>  Admins <span class="badge">{echo Staff::count()}</span></a>
                            <a href="/support/manageticket.html" class="list-group-item"><i class="fa fa-tags fa-2x"></i>  Tickets <span class="badge">{echo Ticket::count(array("live = ?" => true))}</span></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>