<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <form class="form-inline pull-right" role="form" id="indexrange">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only">From</label>
                                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                                    <input type="date" style="width: 180px" name="start" class="form-control" value="{$start}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only">To</label>
                                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                                    <input type="date" style="width: 180px" name="end" class="form-control" value="{$end}" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Show</button>
                        </form>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-border panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Network <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="Total number of clicks, impressions and conversions from {$start} to {$end}"></i></h3>
                        </div>
                        <div class="table-responsive panel-body">
                            <table class="table">
                                <tr>
                                    <th>Clicks</th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number($performance->clicks)}</span></td>
                                </tr>
                                <tr>
                                    <th>Impressions</th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number($performance->impressions)}</span></td>
                                </tr>
                                <tr>
                                    <th>Conversions</th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number($performance->conversions)}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-border panel-inverse">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Finance <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="Total Payout, revenue and profit from {$start} to {$end}"></i></h3>
                        </div>
                        <div class="table-responsive panel-body">
                            <table class="table">
                                <tr>
                                    <th>Revenue</th>
                                    <td><span class="badge">{echo $user->convert($performance->revenue, false)}</span></td>
                                </tr>
                                <tr>
                                    <th>Payout</th>
                                    <td><span class="badge">{echo $user->convert($performance->payout, false)}</span></td>
                                </tr>
                                <tr>
                                    <th>Profit</th>
                                    <td><span class="badge">{echo $user->convert($performance->revenue - $performance->payout, false)}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-border panel-purple">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Stats <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="Total number of contest, platform and links"></i></h3>
                        </div>
                        <div class="table-responsive panel-body">
                            <table class="table">
                                <tr>
                                    <th>Contest</th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number(Contest::count(["org_id = ?" => $org->id]))}</span></td>
                                </tr>
                                <tr>
                                    <th>Platform</th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number($platforms)}</span></td>
                                </tr>
                                <tr>
                                    <th>Links</th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number($links)}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-border panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Total <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="Number of approved and pending affiliates, Campaigns and advertisers"></i></h3>
                        </div>
                        <div class="table-responsive panel-body">
                            <table class="table">
                                <tr>
                                    <th><a href="/publisher/manage.html">Affiliates</a></th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number(User::count(["org_id = ?" => $org->id, "type = ?" => "publisher"]))}</span></td>
                                    <td><span class="badge badge-warning">{echo Shared\Markup::nice_number(User::count(["org_id = ?" => $org->id, "type = ?" => "publisher", "live = ?" => 0]))}</span></td>
                                </tr>
                                <tr>
                                    <th><a href="/campaign/manage.html">Campaigns</a></th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number(Ad::count(["org_id = ?" => $org->id]))}</span></td>
                                    <td><span class="badge badge-warning">{echo Shared\Markup::nice_number(Ad::count(["org_id = ?" => $org->id, "live = ?" => 0]))}</span></td>
                                </tr>
                                <tr>
                                    <th><a href="/advertiser/manage.html">Advertisers</a></th>
                                    <td><span class="badge">{echo Shared\Markup::nice_number(User::count(["org_id = ?" => $org->id, "type = ?" => "advertiser"]))}</span></td>
                                    <td><span class="badge badge-warning">{echo Shared\Markup::nice_number(User::count(["org_id = ?" => $org->id, "type = ?" => "advertiser", "live = ?" => 0]))}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <h4 class="text-dark  header-title m-t-0">Volume Report</h4>
                        <div id="perf-stat">
                            <canvas id="perfstat" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {script $widgets = $org->meta["widgets"] ?? []}
                {if in_array("top10pubs", $widgets)}
                <div class="col-md-{echo $d}">
                    {script $topEarners = $topusers['publishers']}
                    <div class="card-box widget-user">
                        <h4 class="text-dark  header-title m-t-0">Top 10 publishers <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="Top 10 affiliates ranked by number of clicks daily"></i></h4>
                        <div class="table-responsive nicescroll" style="height: 280px">
                            <table class="table">
                                <tbody>
                                    {foreach $u in $topEarners}
                                    <tr>
                                        <td><a href="/publisher/info/{echo $u['_id']}.html">{echo $u["name"]}</a></td>
                                        <td>{echo Shared\Markup::nice_number($u["count"])}</td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {/if}
                {if in_array("top10ads", $widgets)}
                <div class="col-md-{echo $d}">
                    {script $topCampaigns = $topusers['ads']}
                    <div class="card-box widget-user">
                        <h4 class="text-dark  header-title m-t-0">Top 10 Campaigns</h4>
                        <div class="table-responsive nicescroll" style="height: 280px">
                            <table class="table">
                                <tbody>
                                    {foreach $tc in $topCampaigns}
                                    <tr>
                                        <td><a href="/campaign/details/{echo $tc['_id']}.html" target="_blank">{echo $tc["title"]}</a></td>
                                        <td>{echo Shared\Markup::nice_number($tc["clicks"])}</td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {/if}
            </div>
        </div>
        <!-- end container -->
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
    admin.performance();
});
</script>