<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/admin">Admin</a></li>
                            <li class="active">Settings</li>
                        </ol>
                        <h4 class="page-title">Transaction</h4>
                    </div>
                </div>
            </div>
            {if isset($message)}
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {echo $message}
            </div>
            {/if}
            <div class="row">
                <div class="col-md-offset-2 col-lg-offset-2 col-sm-12 col-md-8 col-lg-8">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">User Payment</h4>
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="user">User</label>
                                <input type="text" disabled="" value="{echo $usr->name}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="user">Email</label>
                                <input type="text" disabled="" value="{echo $usr->email}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="user">Reference ID</label>
                                <input type="text" name="ref" value="" required="" class="form-control">
                            </div>
                            
                            <div class="form-group">
                                <label>Amount</label>
                                <div class="input-group">
                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                    <input type="text" name="amount" required="" class="form-control" pattern="[0-9]+">
                                </div>
                                <span class="help-block"><small>Calculated Amount: {echo $user->currency} {echo $user->convert($payment)}</small></span>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
