<div class="modal fade" id="addPlatform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="post" action="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Platform you own</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>URL</label>
                    <input type="url" name="url" class="form-control" placeholder="Link to resource" required="">
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" name="type">
                        <option value="fb_page">Facebook Page</option>
                        <option value="fb_page">Website</option>
                        <option value="fb_page">Youtube Channel</option>
                        <option value="fb_page">Android App</option>
                        <option value="fb_page">Windows App</option>
                        <option value="fb_page">iOS App</option>
                    </select>
                    <input type="url" name="url" class="form-control" placeholder="Link to resource" required="">
                </div>
            </div>
            <div class="modal-footer">
            	<input type="hidden" name="action" value="addPaytm">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>