<div class="modal fade" id="createAdUnit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="post" action="/publisher/createadunit.html">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Ad unit</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" maxlength="100" required="" value="Native">
                    <span class="help-block">{echo Shared\Markup::errors($errors, "name")}</span>
                </div>
                <div class="form-group">
                    <label>Ad unit category</label><br>
                    <label class="radio-inline">
                        <input type="radio" name="category" value="native" checked=""> Native Ad
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="category" value="fbia" disabled=""> Facebook Instant Articles
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="category" value="amp" disabled=""> Google AMPs
                    </label>
                    <span class="help-block">{echo Shared\Markup::errors($errors, "category")}</span>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select name="type[]" class="form-control" multiple="" data-live-search=true title="Choose ad type">
                        <option value="text" selected="">Text</option>
                        <option value="image" selected="">Image</option>
                        <option value="video">Video</option>
                    </select>
                    <span class="help-block">{echo Shared\Markup::errors($errors, "type")}</span>
                </div>
                <div class="form-group">
                    <label>Scope</label><br>
                    <label class="radio-inline">
                        <input type="radio" name="privacy" value="global" checked=""> Global
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="privacy" value="local"> Local
                    </label>
                    {script $err = Shared\Markup::errors($errors, "privacy")}
                    <span class="help-block">{if $err} {echo $err} {/if}{else} Which Ads your Adunit will fetch {/else}</span>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="action" value="adunit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Save and get code</button>
            </div>
        </form>
    </div>
</div>
