<div class="modal fade" id="uploadByRSS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="/campaign/import.html" method="post" class="modal-content">
            <div class="modal-header text-center">
                <h4 class="m-t-0 header-title">New RSS Feed</h4>
            </div>
            <div class="modal-body">
                <p class="text-muted m-b-30 font-13">Enter the rss feed url of your site</p>
                <div class="form-group">
                    <label for="Advertiser">Advertiser</label>
                    <select name="advert_id" required="" class="form-control">
                        {foreach $a in $advertiser}
                        <option value="{echo $a->_id}">{echo $a->name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="form-group">
                    <label>RSS URL</label>
                    <input type="url" required="" name="rss_link" class="form-control">
                    <span class="font-13 text-muted"></span>
                </div>

                <div>
                    <div class="form-group">
                        <label>Model <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="How advertiser pays for the offers:CPA,CPC,CPI etc. Change offer pricing type will remove revenue, offer payout, offer cap and affiliate cap,and also delete affiliate payout and volume based tiers which related to this offer."></i></label>
                        <select name="model" required="" class="form-control" id="model" data-live-search="false">
                            {include auth/model.html}
                        </select>
                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "model")}</span>
                    </div>
                    <div class="form-group">
                        <label>Revenue <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="The amount you receive from the advertiser for one promotion unit."></i></label>
                        <div class="input-group">
                            <span class="add-on input-group-addon">{echo $user->currency}</span>
                            <input type="text" id="advertiserRate" name="revenue" class="form-control" required="">
                        </div>
                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "revenue")}</span>
                    </div>
                    <div class="form-group">
                        <label for="Rate">Payout <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-original-title="The amount of cost you pay your affiliates or publishers for one promotion unit."></i></label>
                        <div class="input-group">
                            <span class="add-on input-group-addon">{echo $user->currency}</span>
                            <input type="text" name="rate" class="form-control" required="">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="action" value="newRss">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
