<div class="modal fade" id="trackingParam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        	<div class="modal-header text-center">
                <h4 class="m-t-0 header-title">Tracking Parameter</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                	<table class="table">
                		<tr>
                			<td>{ad_id}</td>
                			<td>{aff_id}</td>
                			<td>{adv_id}</td>
                		</tr>
                		<tr>
                			<td>{click_id}</td>
                			<td>{tdomain}</td>
                			<td></td>
                		</tr>
                	</table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
