<div class="container-fluid app-content-a" style="padding-top: 80px;">
    <div class="side-body container">
        <div class="page-title">
            <span class="title">Contact Us</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid app-content-b contact-us">
                    <div class="container">
                        <div class="row featurette">
                            <div class="col-md-6">
                                <p class="contact-us-description">
                                    406, Sant Nagar, East of Kailash 
                                    New Delhi
                                </p>
                            </div>
                            <div class="col-md-6">
                                <form method="post" action="">
                                    <div class="row">
                                        <div class="col-sm-6"><input id="name" name="name" type="text" class="form-control" placeholder="Full Name"> </div>
                                        <div class="col-sm-6"><input id="email" name="email" type="email" class="form-control" placeholder="Email address"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12"><textarea id="message" name="message" class="form-control" placeholder="Your Message" rows="5"></textarea><grammarly-btn><div style="z-index: 2; opacity: 1; transform: translate(539px, 83px);" class="_9b5ef6-textarea_btn _9b5ef6-not_focused" data-grammarly-reactid=".0"><div class="_9b5ef6-transform_wrap" data-grammarly-reactid=".0.0"><div title="Protected by Grammarly" class="_9b5ef6-status" data-grammarly-reactid=".0.0.0">&nbsp;</div></div></div></grammarly-btn></div>
                                    </div>
                                    <div>
                                        <button id="contact-submit" type="submit" class="btn btn-success pull-right">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
$("nav").css("background-color", "#353d47");
</script>