<!-- Start: Ultimate Features
        ================================== -->
<section class="ultimate-features ultimate-features-bg" id="ultimate-features">
    <div class="ultimate-overlay-color">
        <div class="container">
            <div class="row section-separator">
                <img src="{echo CDN}images/ultimate-features.png" alt="Ultimate Features">
                <!-- Start: Section Header -->
                <div class="section-header">
                    <h2 class="section-heading">ULTIMATE FEATURES</h2>
                    <p>Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
                <!-- End: Section Header -->
            </div>
            <!-- End: .row .section-separator -->
        </div>
        <!-- End: .container -->
    </div>
    <!-- End: .ultimate-overlay-color -->
</section>
<!-- End: Ultimate Features
        ================================== -->
<!-- Start: Fun Facts
        ==================================== -->
<section id="fun-facts" class="fun-facts">
    <div class="container">
        <div class="row fun-facts-body section-separator">
            <div class="features col-xs-12">
                <div class="row">
                    <div class="col-md-3 col-sm-6 each-item wow fadeInRight">
                        <i class="fa fa-users"></i>
                        <h4>1000+ Publishers</h4>
                        <p>Donec dui. Aenean eu leo quam.</p>
                    </div>
                    <!-- End: .each-item -->
                    <div class="col-md-3 col-sm-6 each-item wow fadeInRight" data-wow-delay="0.3s">
                        <i class="fa fa-coffee"></i>
                        <h4>440 CUP CODDEES</h4>
                        <p>Donec dui. Aenean eu leo quam.</p>
                    </div>
                    <!-- End: .each-item -->
                    <div class="col-md-3 col-sm-6 each-item wow fadeInRight" data-wow-delay="0.6s">
                        <i class="fa fa-futbol-o"></i>
                        <h4>72 MATCHS</h4>
                        <p>Donec dui. Aenean eu leo quam.</p>
                    </div>
                    <!-- End: .each-item -->
                    <div class="col-md-3 col-sm-6 each-item wow fadeInRight" data-wow-delay="0.9s">
                        <i class="fa icon_documents_alt"></i>
                        <h4>3 YEARS STUDY</h4>
                        <p>Donec dui. Aenean eu leo quam.</p>
                    </div>
                    <!-- End: .each-item -->
                </div>
            </div>
            <!-- End: .features -->
        </div>
        <!-- End: .row .fun-facts-body .section-separator -->
    </div>
    <!-- End: .container -->
</section>
<!-- End: Fun Facts
        ==================================== -->
<!-- Start: Client"s Feedback Section
        ==================================-->
<!--<section class="client-feedback" id="client-feedback">
    <div class="container">
        <div class="row client-feedback-body section-separator">

            <div class="client-feedback-contant col-xs-12">

                <div class="row">
                    <div class="each-item col-sm-4 col-xs-12 wow fadeInUp">
                        <figure>
                            <div class="quote-sym"><img src="{echo CDN}images/quote-left.png" alt=""></div>
                            <blockquote>Donec id elit non mi porta gravida at eget metus. M=Null elit libero, a pharetra augue. Etiam porta sem malesuada magna euismod</blockquote>
                            <ul class="nav rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-empty"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <figcaption>
                                <p class="name">Maria Adair</p>
                                <cite>CEO, DeviserWeb</cite>
                            </figcaption>
                        </figure>
                        
                    </div>
                    
                    <div class="each-item col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
                        <figure>
                            <div class="quote-sym"><img src="{echo CDN}images/quote-left.png" alt=""></div>
                            <blockquote>Donec id elit non mi porta gravida at eget metus. M=Null elit libero, a pharetra augue. Etiam porta sem malesuada magna euismod</blockquote>
                            <ul class="nav rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-empty"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <figcaption>
                                <p class="name">William Jackson</p>
                                <cite>CEO, DeviserWeb</cite>
                            </figcaption>
                        </figure>
                        
                    </div>
                    
                    <div class="each-item col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                        <figure>
                            <div class="quote-sym"><img src="{echo CDN}images/quote-left.png" alt=""></div>
                            <blockquote>Donec id elit non mi porta gravida at eget metus. M=Null elit libero, a pharetra augue. Etiam porta sem malesuada magna euismod</blockquote>
                            <ul class="nav rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-empty"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <figcaption>
                                <p class="name">Robert Gregory</p>
                                <cite>CEO, DeviserWeb</cite>
                            </figcaption>
                        </figure>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</section>--!>
<!-- Start: Client"s Feedback Section
        ==================================-->

<!-- Start: Collapse Area
        ==================================-->
<section class="collapse-area" id="collapse-area">
    <div class="container">
        <div class="row section-separator">
            <!-- Start: Section Header -->
            <div class="section-header col-md-6 col-md-offset-3">
                <h2 class="section-heading">Freaquently Asked Question</h2>
            </div>
            <!-- End: Section Header -->
            <div class="clearfix"></div>
            <!-- Start: Collapse Main Contant -->
            <div class="collapse-body-contant col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="echa-collapse col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h4 class="collapse-panel-title">What is ChocoGhar  Affiliate Network?</h4>
                        <p class="collapse-panel-body">
                            ChocoGhar is a platform which enables social media publishers, you can start driving relevant traffic to other websites, mobile app or video monetize on a per click basis.
                        </p>
                    </div>
                    <!-- End: .each-collapse -->
                    <div class="echa-collapse col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                        <h4 class="collapse-panel-title">Who can Join?</h4>
                        <p class="collapse-panel-body">
                            If you have a facebook page, or a twitter handle with good amount of follower base then you can request to join ChocoGhar Minimum Facebook page likes - 30k
                        </p>
                    </div>
                    <!-- End: .each-collapse -->
                    <div class="echa-collapse col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <h4 class="collapse-panel-title">How much is the RPM and how much I can earn from ChocoGhar?</h4>
                        <p class="collapse-panel-body">
                            It depends on the quality and country from which your traffic is coming on ChocoGhar. We have different RPM for different countries which you can see in your dashboard
                        </p>
                    </div>
                    <!-- End: .each-collapse -->
                    <div class="echa-collapse col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                        <h4 class="collapse-panel-title">What is the payment method ?</h4>
                        <p class="collapse-panel-body">
                            We pay vie NEFT (India) and Paypal (Worldwide) only. Minimum payout is Rs 1000/ $ 15, We pay on every Monday and payment include from Monday to Sunday.
                        </p>
                    </div>
                    <!-- End: .each-collapse -->
                </div>
                <!-- End: .row  -->
            </div>
            <!-- End: .collapse-body-contant  -->
            <!-- End: Collapse Main Contant -->
        </div>
        <!-- End: .row  -->
    </div>
    <!-- End: .container  -->
</section>
<!-- End: Collapse Area ==============================-->
