<div class="jumbotron app-header">
    <div class="container">
        <h2 class="text-center"><i class="app-logo fa fa-connectdevelop fa-5x color-white"></i><div class="color-white">Take charge of your Native Advertising</div></h2>
        <p class="text-center color-white app-description">vNative gives you a custom RTB stack for a fraction of the cost and Native Ads target are improved by Machine Learning Neural Network</p>
        <p class="text-center">
            <a class="btn btn-primary btn-lg app-btn" href="/request-demo.html"><i class="fa fa-desktop"></i> Request Demo</a>
            <a class="btn btn-primary btn-lg app-btn" href="/register.html" role="button"><i class="fa fa-universal-access"></i> Start FREE Trial</a>
        </p>
    </div>
</div>
<div class="container-fluid app-content-b feature-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">What is Native Advertising?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-6 text-left">
                <p class="lead">Native advertising is a form of advertising that integrates high-quality content into the organic experience of a given platform. </p>
                <p class="lead">Native ad units conform to the design and feel of the sites on which they display, preserving the immersive user-experience while producing click-through rates like that of editorial content.</p>
                <p class="lead">Get more eyes on your Content | for longer</p>
                <p class="lead text-center">
                    <a class="btn btn-primary btn-lg app-btn" href="/register.html" role="button">Start FREE Trial</a>
                </p>
            </div>
            <div class="col-md-7 col-sm-6">
                <p class="text-center">
                    <img src="{echo CDN}images/nm1.jpg" class="img-responsive">
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">Why monetize with vNative.com?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row no-margin no-gap">
                    <div class="col-md-4">
                        <h4><i class="fa fa-dashboard fa-2x"></i> Real Time Analytics</h4>
                        <h4><i class="fa fa-globe fa-2x"></i> Smart Targetting</h4>
                    </div>
                    <div class="col-md-4">
                        <h4><i class="fa fa-shield fa-2x"></i> Your data your ownership</h4>
                        <h4><i class="fa fa-support fa-2x"></i> Security &amp; Expert Service</h4>
                    </div>
                    <div class="col-md-4">
                        <h4><i class="fa fa-facebook-official fa-2x"></i> Ads on Facebook Instant Articles</h4>
                        <h4><i class="fa fa-check-square fa-2x"></i> AMPs Native Ads</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid app-content-b feature-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">Highly Engaging Ads</h2>
                <p class="text-center app-content-description">Broadcast your articles, videos, and app to new audiences natively, tapping into sub-concious mind.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <img src="{echo CDN}images/nsample.png" class="img-responsive">
            </div>
            <div class="col-md-5 col-sm-6 text-right">
                <p class="lead">Buyers need transparency on their spend.</p>
                <p class="lead">Audience targeting</p>
                <p class="lead">REAL-TIME DATA</p>
                <p class="lead">Effective multiple formats</p>
                <p class="lead">Risk-free pricing</p>
                <p class="lead">Engagement optimization</p>
            </div>
        </div>
        <p class="text-center">
            <a class="btn btn-primary btn-lg app-btn" href="/register.html" role="button">Start FREE Trial</a>
        </p>
    </div>
</div>
<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">How to advertise on vNative.com</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-3">
                <h2>Step 1</h2>
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-lightbulb-o fa-stack-1x"></i>
                </span>
                <h4>Submit your content for approval</h4>
            </div>

            <div class="col-md-3 col-sm-3">
                <h2>Step 2</h2>
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-money fa-stack-1x"></i>
                </span>
                <h4>Add funds to your campaign</h4>
            </div>

            <div class="col-md-3 col-sm-3">
                <h2>Step 3</h2>
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-bullhorn fa-stack-1x"></i>
                </span>
                <h4>Your Content Spreads on all Channel</h4>
            </div>

            <div class="col-md-3 col-sm-3">
                <h2>Step 4</h2>
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-line-chart fa-stack-1x"></i>
                </span>
                <h4>Watch the traffic on your dashboard</h4>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
</script>