<div class="jumbotron app-header">
    <div class="container">
        <h2 class="text-center"><i class="app-logo fa fa-connectdevelop fa-5x color-white"></i><div class="color-white">The Native Advertising Platform</div></h2>
        <p class="text-center color-white app-description">We help your stories reach right audiences with in-feed advertising on all devices through machine learning Neural Network.</p>
        <p class="text-center">
            <a class="btn btn-primary btn-lg app-btn" href="/request-demo.html"><i class="fa fa-desktop"></i> Request Demo</a>
        </p>
    </div>
</div>
<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">Why advertise with vNative.com?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row no-margin no-gap">
                    <div class="col-md-4">
                        <h4><i class="fa fa-dashboard fa-2x"></i> Real Time Analytics</h4>
                        <h4><i class="fa fa-globe fa-2x"></i> Smart Targetting</h4>
                    </div>
                    <div class="col-md-4">
                        <h4><i class="fa fa-shield fa-2x"></i> Security</h4>
                        <h4><i class="fa fa-support fa-2x"></i> Expert Service</h4>
                    </div>
                    <div class="col-md-4">
                        <h4><i class="fa fa-tablet fa-2x"></i> Instant Articles and AMPs</h4>
                        <h4><i class="fa fa-check-square fa-2x"></i> Traffic Quality Gurantee</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid app-content-b feature-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">Highly Engaging Ads</h2>
                <p class="text-center app-content-description">Broadcast your articles, videos, and app to new audiences natively, tapping into sub-concious mind.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <img src="{echo CDN}images/nativemindsea.png" class="img-responsive">
            </div>
            <div class="col-md-5 col-sm-6 text-right">
                <p class="lead">ROI-BASED CAMPAIGNS</p>
                <p class="lead">SMART TARGETING</p>
                <p class="lead">REAL-TIME DATA</p>
                <p class="lead">EFFECTIVE MULTIPLE FORMATS</p>
            </div>
        </div>
        <p class="text-center">
            <a class="btn btn-primary btn-lg app-btn" href="/register.html" role="button">Become a Advertiser</a>
        </p>
    </div>
</div>
<div class="container-fluid app-content-b feature-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<div class="container-fluid app-content-b feature-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">Why add vNative.com to your site?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-6 text-left">
                <p class="lead">MAXIMIZE YOUR REVENUE WITH A PROVEN PARTNER</p>
                <p class="lead">HIGH REVENUE & GLOBAL COVERAGE</p>
                <p class="lead">REAL-TIME STATISTICS</p>
                <p class="lead">ON-TIME PAYMENTS</p>
            </div>
            <div class="col-md-7 col-sm-6">
                <img src="{echo CDN}images/publisher.png" class="img-responsive">
            </div>
        </div>
        <p class="text-center">
            <a class="btn btn-primary btn-lg app-btn" href="/publisher/register.html" role="button">Become a Publisher</a>
        </p>
    </div>
</div>
<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">How to advertise on vNative.com</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-3">
                <h2>Step 1</h2>
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-lightbulb-o fa-stack-1x"></i>
                </span>
                <h4>Submit your content for approval</h4>
            </div>

            <div class="col-md-3 col-sm-3">
                <h2>Step 2</h2>
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-money fa-stack-1x"></i>
                </span>
                <h4>Add funds to your campaign</h4>
            </div>

            <div class="col-md-3 col-sm-3">
                <h2>Step 3</h2>
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-bullhorn fa-stack-1x"></i>
                </span>
                <h4>Your Content Spreads on all Channel</h4>
            </div>

            <div class="col-md-3 col-sm-3">
                <h2>Step 4</h2>
                <span class="fa-stack fa-lg fa-5x">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-line-chart fa-stack-1x"></i>
                </span>
                <h4>Watch the traffic on your dashboard</h4>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
</script>