<!DOCTYPE html>
<html>
<head>
    <title>Live Demo</title>
    <style type="text/css">
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        #content {
            position:absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0px; 
        }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div id="content">
        <iframe id="iframe" width="100%" height="100%" frameborder="0" src="http://titusandco.com" />
    </div>
    <script type="text/javascript">
        var iframe = $('#iframe');
        iframe.ready(function() {
            console.log('start');
            console.log(iframe.contents().find("body"));
            console.log('end');
            var scriptTag = "<script>alert('hi')<";
                scriptTag +=  "/script>";
            iframe.contents().find("body").append(scriptTag);
        });
    </script>
</body>
</html>