<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center app-content-header">Pricing</h2>
                <p class="text-center app-content-description">Affordable and flexible pricing for Ad Serves.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row no-margin no-gap">
                    <div class="col-md-3 col-sm-6">
                        <div class="pricing-table dark-blue">
                            <div class="pt-header">
                                <div class="plan-pricing">
                                    <div class="pricing">$99</div>
                                    <div class="pricing-type">per month</div>
                                </div>
                            </div>
                            <div class="pt-body">
                                <h4>Basic Plan</h4>
                                <ul class="plan-detail">
                                    <li><i class="fa fa-desktop"></i> 1M/month display impressions</li>
                                    <li><i class="fa fa-tablet"></i> 300K/month mobile impressions</li>
                                    <li><i class="fa fa-play-circle"></i> 50K/month video impressions</li>
                                </ul>
                            </div>
                            <div class="pt-footer">
                                <button type="button" class="btn btn-primary">Buy Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricing-table green">
                            <div class="pt-header">
                                <div class="plan-pricing">
                                    <div class="pricing">$999</div>
                                    <div class="pricing-type">per month</div>
                                </div>
                            </div>
                            <div class="pt-body">
                                <h4>Standard Plan</h4>
                                <ul class="plan-detail">
                                    <li><i class="fa fa-desktop"></i> 15M/month display impressions</li>
                                    <li><i class="fa fa-tablet"></i> 5M/month mobile impressions</li>
                                    <li><i class="fa fa-play-circle"></i> 1M/month video impressions</li>
                                </ul>
                            </div>
                            <div class="pt-footer">
                                <button type="button" class="btn btn-success">Buy Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricing-table  dark-blue">
                            <div class="pt-header">
                                <div class="plan-pricing">
                                    <div class="pricing">$4999</div>
                                    <div class="pricing-type">per month</div>
                                </div>
                            </div>
                            <div class="pt-body">
                                <h4>Advanced Plan</h4>
                                <ul class="plan-detail">
                                    <li><i class="fa fa-desktop"></i> 100M/month display impressions</li>
                                    <li><i class="fa fa-tablet"></i> 50M/month mobile impressions</li>
                                    <li><i class="fa fa-play-circle"></i> 7M/month video impressions</li>
                                </ul>
                            </div>
                            <div class="pt-footer">
                                <button type="button" class="btn btn-primary">Buy Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricing-table dark-blue">
                            <div class="pt-header">
                                <div class="plan-pricing">
                                    <div class="pricing">CUSTOM**</div>
                                    <div class="pricing-type">per month</div>
                                </div>
                            </div>
                            <div class="pt-body">
                                <h4>Unlimited Plan</h4>
                                <ul class="plan-detail">
                                    <li><i class="fa fa-desktop"></i> 100M+/month display impressions</li>
                                    <li><i class="fa fa-tablet"></i> 50M+/month mobile impressions</li>
                                    <li><i class="fa fa-play-circle"></i> 7M+/month video impressions</li>
                                </ul>
                            </div>
                            <div class="pt-footer">
                                <button type="button" class="btn btn-primary">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
$("nav").css("background-color", "#353d47");
</script>