<!-- Begin Section 3 -->
<section id="pricing-option3" class="background1 section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title col-xs-12 text-center">
                <h2>Pricing</h2>
                <span class="section-divider mb15"></span>
                <p class="no-margin">Affordable and flexible pricing for Ad Serves.</p>
            </div><!-- /.column -->
        </div><!-- /.row -->

        <div class="row mt50">
            <!-- Item 1 -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 bottomReveal">
                <ul class="plan plan1">
                    <li class="plan-name plan-name-option3">Basic <h2 class="no-margin">$99</h2> / month</li>
                    <li><strong><i class="fa fa-desktop"></i> 1M</strong> Impressions</li>
                    <li><strong><i class="fa fa-tablet"></i> 300K</strong> mobile impressions</li>
                    <li><strong><i class="fa fa-play-circle"></i> 50K</strong> video impressions</li>
                    <li class="plan-action">
                        <a class="btn btn-default btn-lg" href="#">Signup</a>
                    </li>
                </ul>
            </div><!-- /.column -->

            <!-- Item 2 -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-xs topReveal">
                <ul class="plan plan2">
                    <li class="plan-name plan-name-option3">Standard <h2 class="no-margin">$999</h2> / month</li>
                    <li><strong><i class="fa fa-desktop"></i> 15M</strong> Impressions</li>
                    <li><strong><i class="fa fa-tablet"></i> 5M</strong> mobile impressions</li>
                    <li><strong><i class="fa fa-play-circle"></i> 1M</strong> video impressions</li>
                    <li class="plan-action">
                        <a class="btn btn-default btn-lg" href="#">Signup</a>
                    </li>
                </ul>
            </div><!-- /.column -->

            <!-- Item 3 -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-sm mt30-xs bottomReveal">
                <ul class="plan plan3">
                    <li class="plan-name plan-name-option3">Advanced <h2 class="no-margin">$4999</h2> / month</li>
                    <li><strong><i class="fa fa-desktop"></i> 100M</strong> Impressions</li>
                    <li><strong><i class="fa fa-tablet"></i> 50M</strong> mobile impressions</li>
                    <li><strong><i class="fa fa-play-circle"></i> 7M</strong> video impressions</li>
                    <li class="plan-action">
                        <a class="btn btn-default btn-lg" href="#">Signup</a>
                    </li>
                </ul>
            </div><!-- /.column -->

            <!-- Item 4 -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-sm mt30-xs topReveal">
                <ul class="plan plan4">
                    <li class="plan-name plan-name-option3">Mighty <h2 class="no-margin">CUSTOM</h2> / month</li>
                    <li><strong><i class="fa fa-desktop"></i> 100M+</strong> Impressions</li>
                    <li><strong><i class="fa fa-tablet"></i> 50M+</strong> mobile impressions</li>
                    <li><strong><i class="fa fa-play-circle"></i> 7M+</strong> video impressions</li>
                    <li class="plan-action">
                        <a class="btn btn-default btn-lg" href="#">Signup</a>
                    </li>
                </ul>
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.section -->
<!-- End Section 3 -->