<div class="container-fluid app-content-a" style="padding-top: 80px;">
    <div class="side-body container">
        <div class="page-title">
            <span class="title">Request a Demo</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row featurette">
                    <div class="col-md-6">
                        <p class="lead">WANT TO SEE HOW NATIVE ADS WORK?WE'D LOVE TO SHOW YOU.</p>
                        <p class="lead">Fill out the form on the left, and we'll reach out to schedule a 1 on 1 live demo with you. We can also be reached at +91-9958636988.</p>
                        <p><img src="{echo CDN}images/native-ads.png"></p>
                    </div>
                    <div class="col-md-6">
                        <form method="post" action="">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <label>Company Website</label>
                                <input type="url" class="form-control" placeholder="Plaform url">
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success btn-lg text-center">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
$("nav").css("background-color", "#353d47");
</script>