<!-- Begin Team -->
<section id="team" class="background2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 section-title text-center">
                <h2>Team</h2>
                <span class="section-divider"></span>
            </div><!-- /.column -->
        </div><!-- /.row -->
        
        <div class="row mt40">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center topReveal">
                <div class="team-member-box-2">
                    <div class="team-image-wrapper rotateTopReveal">
                        <img src="{echo CDN}images/team/faizan.png" alt="Faizan Ayubi" class="img-responsive img-circle team-member-img text-center">
                    </div>
                    <h3>Faizan Ayubi</h3>
                    <p class="mb15">CEO</p>
                    <!-- Social -->
                    <a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
                </div>
            </div><!-- /.column -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center mt30-xs bottomReveal">
                <div class="team-member-box-2">
                    <div class="team-image-wrapper rotateTopReveal">
                        <img src="{echo CDN}images/team/udit.png" alt="Udit Verma" class="img-responsive img-circle team-member-img text-center">
                    </div>
                    <h3>Udit Verma</h3>
                    <p class="mb15">COO</p>
                    <!-- Social -->
                    <a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
                </div>
            </div><!-- /.column -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center mt30-sm mt30-xs topReveal">
                <div class="team-member-box-2">
                    <div class="team-image-wrapper rotateTopReveal">
                        <img src="{echo CDN}images/team/hemant.png" alt="Hemant Mann" class="img-responsive img-circle team-member-img text-center">
                    </div>
                    <h3>Hemant Mann</h3>
                    <p class="mb15">CTO</p>
                    <!-- Social -->
                    <a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
                </div>
            </div><!-- /.column -->

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center mt30-sm mt30-xs bottomReveal">
                <div class="team-member-box-2">
                    <div class="team-image-wrapper rotateTopReveal">
                        <img src="{echo CDN}images/team/you.jpg" alt="you" class="img-responsive img-circle team-member-img text-center">
                    </div>
                    <h3>You</h3>
                    <p class="mb15">Mail resume udit.verma@vnative.com</p>
                    <!-- Social -->
                    <a href="#"><span class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
                    <a href="#"><span class="ion-social-googleplus-outline social-icons-dark-hover"></span></a>
                </div>
            </div><!-- /.column -->
        </div>

        <span class="section-divider"></span>

        <div class="row">
            <div class="col-sm-4 leftReveal">
                <h5 class="heading-1 mb20">Our Goal</h5>
                <h3 class="no-margin-top mb15">We are on a mission to free the world from annoying ads.</h3>
                <p class="no-margin text-small">by replacing them with relevant and consumable content. We go to sleep every night dreaming of a world in which ads don't suck, and each day we get closer with every click.</p>
            </div><!-- /.column -->
            <div class="col-sm-8 mt20-xs rightReveal">
                <h5 class="heading-1 mb20">Who are we?</h5>
                <p>We believe in building a product which is innovative and keeps us up at night to bring innovation in the world.</p>
                <p class="no-margin">Majority of our team members are from tech background, all co-founders are from Delhi College of Engineering, Delhi.</p>
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.section -->
<!-- End Team -->