<div class="modal fade" id="addPlatform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="post" action="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Platform you own</h4>
            </div>
            <div class="modal-body">
            	<div class="form-group">
                    <label>Type</label>
                    <select class="form-control" name="type">
                    	<option value="FACEBOOK_PAGE">Facebook Page</option>
                    	<option value="WEBSITE">Website</option>
                    	<option value="TWITTER">Twitter</option>
                        <option value="ANDROIDAPP">Android App</option>
                        <option value="IOSAPP">iOS App</option>
                        <option value="WINDOWSAPP">Windows App</option>
                        <option value="OTHER">Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Website Link/URL</label>
                    <input type="url" name="url" class="form-control" placeholder="Your Website URL" required="">
                </div>
            </div>
            <div class="modal-footer">
            	<input type="hidden" name="action" value="addPlatform">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
