<div class="page-title">
    <span class="title">Ad Campaigns</span>
    <div class="description">
        Manage all your adcampaign from here, edit and disable.
        <span class="pull-right"><a href="/campaign/create.html" class="btn btn-danger"><i class="fa fa-bullhorn"></i> New Campaign</a></span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="text-center card-action">
                    <form class="form-inline" role="form" method="get" action="">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="sr-only">Title</label>
                                <span class="add-on input-group-addon"><i class="fa fa-bookmark fa-fw"></i> Title</span>
                                <input type="text" style="width: 200px" name="short" class="form-control" required="" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="card-body no-padding">
                <table class="table table-responsive">
                    <tr>
                        <th>Created</th>
                        <th>Platform</th>
                        <th>Campaign</th>
                        <th>Commission</th>
                        <th>Clicks</th>
                        <th>CPC</th>
                        <th>Spent</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="../img/profile/profile-1.jpg" class="profile-img pull-left"></td>
                        <td>Tui2Tone</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
