<!-- Top Bar Start -->
<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="/admin/index.html" class="logo"><i class="md md-business"></i> <span>{echo $org->name}</span> </a>
        </div>
    </div>
    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="md md-menu"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>
                <ul class="nav navbar-nav hidden-xs">
                    
                </ul>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle waves-effect" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> {echo $user->name} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/account.html">Account</a></li>
                            <li><a href="/logout.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Main</li>
                <li>
                    <a href="/admin/index.html" class="waves-effect waves-primary"><i class="fa fa-dashboard"></i><span> Dashboard </span></a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-bullhorn"></i><span> Campaigns </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/campaign/manage.html">Manage</a></li>
                        <li><a href="/campaign/import.html">Import</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-bar-chart"></i><span> Reports </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/report/ads.html">Ads effectiveness</a></li>
                        <li><a href="/report/publishers.html">Publishers ranking</a></li>
                        <li><a href="/report/clicks.html">Clicks</a></li>
                        <li><a href="/report/platforms.html">Platforms</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-bolt"></i><span> Publishers </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/publisher/add.html">Add</a></li>
                        <li><a href="/publisher/manage.html">List</a></li>
                        <li><a href="/publisher/payments.html">Payments</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-paper-plane"></i><span> Advertisers </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/advertiser/add.html">Add</a></li>
                        <li><a href="/advertiser/manage.html">List</a></li>
                        <li><a href="/advertiser/billing.html">Billing</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-suitcase"></i><span> Network </span> <span class="menu-arrow"></span> </a>
                    <ul class="list-unstyled">
                        <li><a href="/admin/account.html">Account</a></li>
                        <li><a href="/admin/notification.html">Notification</a></li>
                        <li><a href="/admin/billing.html">Billing</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/settings.html" class="waves-effect waves-primary"><i class="fa fa-gear"></i><span> Settings </span></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
