# basic password protection

AuthUserFile /var/www/www/logs/.htpasswd
AuthName "Username and password required"
AuthType Basic
<Limit GET POST>
	Require valid-user
</Limit>


<Files *>
    SetHandler default-handler
</Files>