<div class="container-fluid app-content-b contact-us">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="color-white contact-us-header">Contact Us</h2>
                <p class="color-white contact-us-description"></p>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <input id="name" name="name" type="text" class="form-control" placeholder="Full Name"> </div>
                        <div class="col-sm-6">
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea id="message" name="message" class="form-control" placeholder="Your Message" rows="5"></textarea>
                        </div>
                    </div>
                    <div>
                        <button id="contact-submit" type="submit" class="btn btn-success pull-right">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
</script>