<div class="modal fade" id="nativeCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="" method="post" class="modal-content">
            <div class="modal-header text-center">
            Native AD's Code
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <code>
                        {echo htmlentities($code)}
                    </code>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Go</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
