<div class="modal fade" id="createPlatform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="" method="post" class="modal-content">
            <div class="modal-header">
                <h5>Add a property</h5>
            </div>
            <div class="modal-body form-inline">
                <p>Select the type of property you would like to send traffic from.</p>
                <div class="form-group">
                    <div class="input-group">
                        <select class="form-control selectpicker" name="type" title="Type of Property" style="width: 180px">
                            <option value="facebook">Facebook</option>
                            <option value="twitter">Twitter</option>
                            <option value="website">Website</option>
                            <option value="androidapp">AndroidApp</option>
                            <option value="iosapp">iOS app</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" name="url" placeholder="Enter your platform url" required="" style="width: 300px">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Go</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
