<div class="modal fade" id="createLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="/publisher/createLink" id="createLinkForm" method="post" class="modal-content">
            <div class="modal-header text-center">
            Select Domain
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Domain">Domain</label>
                    <select name="domain" class="form-control" style="width: 180px">
                        {if count($tdomains) === 0}
                            <option value="dobolly.com" selected="">dobolly.com</option>
                        {/if} {else}
                            {foreach $d in $tdomains}
                            <option value="{echo $d}">{echo $d}</option>
                            {/foreach}
                        {/else}
                    </select>
                </div>
            </div>
            <input type="hidden" name="adid" id="campaignId" value="">
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Go</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.15/clipboard.min.js"></script>

<div class="modal fade" id="showLinkBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div id="showLinkMessage"></div>
            </div>

            <div class="input-group">
                <textarea id="showLinkUrl" class="form-control"></textarea>
                <span class="input-group-btn">
                    <button type="button" id="copyToClipboard" class="btn btn-primary" data-clipboard-target="#showLinkUrl"><i class="fa fa-clipboard"></i> Copy</button>
                </span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>