<!-- Begin Jumbotron -->
<div id="home" class="jumbotron jumbotron-register">
    <div id="particles-js"></div><!-- /.particles div -->
    <div class="container center-vertically-holder">
        <div class="center-vertically">
            <div class="col-sm-4 mt40-xs"></div>

            <div class="col-sm-4 mt40-xs">
                {if(isset($message))}<div class="alert fresh-color alert-info" role="alert">{echo $message}</div>{/if}
                <form role="form" method="post" class="register-form mb40-xs">
                    <h3 class="no-margin-top mb20">Sign In</h3>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Primary Email" required="">
                        <span class="help-block">{echo Shared\Markup::errors($errors, "email")}</span>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div class="form-group no-margin-bottom mt20">
                        <div class="text-center">
                            <input type="hidden" name="action" value="login">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.column -->

            <div class="col-sm-4 mt40-xs"></div>
        </div><!-- /.vertical center -->
    </div><!-- /.container -->
</div>
<!-- End Jumbotron -->