<!-- Begin Jumbotron -->
<div id="home" class="jumbotron jumbotron-register">
    <div id="particles-js"></div><!-- /.particles div -->
    <div class="container center-vertically-holder">
        <div class="center-vertically">
            <div class="col-sm-7 col-lg-6 mt40-xs">
                <h1 class="mb30 no-margin-top scaleReveal">
                    Why add <strong>vNative</strong> to your site?
                </h1>
                <p class="bottomReveal">vNative.com publishers enjoy industry leading click-through rates because web users are up to 200X more likely to click on relevant sponsored content than traditional ads.</p>
                <p class="mb30 bottomReveal">vNative.com's smart technology learns the look and feel of your site and naturally blends advertiser content with organic content.</p>
                <a href="https://www.youtube.com/watch?v=fHM-q52f-Cs" class="text-small popup-youtube mt20">
                    <span class="pe-7s-play"></span> Video
                </a>
            </div>

            <div class="col-sm-5 col-lg-5 col-lg-offset-1 mt40-xs">
                {if(isset($message))}<div class="alert fresh-color alert-info" role="alert">{echo $message}</div>{/if}
                <form role="form" method="post" class="register-form mb40-xs">
                    <h3 class="no-margin-top mb20">Get our free product</h3>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Full Name" required="">
                        <span class="help-block">{echo Shared\Markup::errors($errors, "name")}</span>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Primary Email" required="">
                        <span class="help-block">{echo Shared\Markup::errors($errors, "email")}</span>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" class="form-control" placeholder="Phone Number" required="">
                        <span class="help-block">{echo Shared\Markup::errors($errors, "phone")}</span>
                    </div>
                    <div class="form-group">
                        <select name="type" class="form-control">
                            <option>I want to...</option>
                            <option value="advertise">Advertise my content</option>
                            <option value="monetize">Monetize my platform</option>
                            <option value="all">Advertise and monetize</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="url" name="url" class="form-control" placeholder="Facebook Page URL or Website or App" required="">
                        <span class="help-block">{echo Shared\Markup::errors($errors, "url")}</span>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <div class="checkbox3 checkbox-round checkbox-check checkbox-light">
                                <input type="checkbox" checked=""> I agree to vNative <a href="/termsofservice.html" target="_blank">Terms and Conditions</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group no-margin-bottom mt20">
                        <div class="text-center">
                            <input type="hidden" name="action" value="register">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.column -->
        </div><!-- /.vertical center -->
    </div><!-- /.container -->
</div>
<!-- End Jumbotron -->