<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">Create Support Ticket</div>
                </div>
            </div>
            <div class="card-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-10">
                        	<select name="subject" class="form-control" required="">
                        		<option value="Payment Not Received">Payment Not Received</option>
                        		<option value="Click Counting Issue">Click Counting Issue</option>
                        		<option value="Payment Not Added">Payment Not Added</option>
                        		<option value="Other">Other</option>
                        	</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                        	<textarea class="form-control" placeholder="Explain your problem"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
