<div class="container-fluid app-content-a" style="padding-top: 80px;">
    <div class="side-body container">
        <div class="page-title">
            <span class="title">Support</span>
            <div class="description">
                Create a Ticket to report any problem you are facing
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Phone
                    </div>
                    <div class="panel-body">
                        <p class="text-center">
                            <a href="tel:+91-9958636988">
                                <i class="fa fa-tablet fa-2x"></i>
                                +91-9958636988
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Email
                    </div>
                    <div class="panel-body">
                        <p class="text-center">
                            <a href="mailto:info@vnative.com">
                                <i class="fa fa-envelope fa-2x"></i>
                                info@vnative.com
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Community
                    </div>
                    <div class="panel-body">
                        <span class="text-center">
                            <a href="https://www.facebook.com/groups/249023212136163/"><i class="fa fa-facebook-official fa-3x"></i></a>
                            <a href=""><i class="fa fa-twitter-square fa-3x"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Tickets
                    </div>
                    <div class="panel-body">
                        <span class="text-center">
                            <a href="/support/tickets.html" class="btn btn-danger"><i class="fa fa-ticket"></i> Tickets</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <b>What is vNative?</b><br>
                        vNative is a stage which empowers online networking distributers and social influencers to adapt from their resources. Distributers can begin driving applicable movement to different sites, application or video utilizing the vNative distributer stage and monetize on a per click basis.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                        <b>Who can Join?</b><br>
                        If you have a facebook page, or a twitter handle with good amount of follower base then you can request to join vNative.... Minimum Facebook page likes - 100k.It should follow our quality guidelines. Any social media property related to adult or gambling will not be approved.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                        <b>How Payment Cycle works?</b><br>
                        Based on your plans the amount will be deducted monthly or yearly subscriptions.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                        <b>I registered on vNative. and it is showing that your account is Inactive?</b><br>
                        Our team will review it within 24-48 hours. After the Review it will be activated if all information you entered is correct.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                        <b>Can I have more than one account?</b><br>
                        No, you can't have more than one account . You can create multiple ad units for different platforms.
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-body">
                        Saturday & Sunday is our off day but we will try our best to give you support on holiday also
                    </div>
                </div><br>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$("body").addClass("landing-page");
$("nav").css("background-color", "#353d47");
</script>