<div class="row no-margin-bottom">
    <div class="col-sm-6 col-xs-12">
        <div class="card primary">
            <div class="card-jumbotron no-padding">
                <canvas id="jumbotron-line-chart" class="chart no-padding"></canvas>
            </div>
            <div class="card-body half-padding">
                <h4 class="float-left no-margin font-weight-300">Visitors</h4>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card primary">
                    <div class="card-jumbotron no-padding">
                        <canvas id="jumbotron-bar-chart" class="chart no-padding"></canvas>
                    </div>
                    <div class="card-body half-padding">
                        <h4 class="float-left no-margin font-weight-300">Orders</h4>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card primary">
                    <div class="card-jumbotron no-padding">
                        <canvas id="jumbotron-line-2-chart" class="chart no-padding"></canvas>
                    </div>
                    <div class="card-body half-padding">
                        <h4 class="float-left no-margin font-weight-300">Pages view</h4>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card card-success">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">
                        <i class="fa fa-bullhorn"></i> Campaigns
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="card-body no-padding">
                <table class="table table-responsive">
                    <tr>
                        <th>Created</th>
                        <th>Platform</th>
                        <th>Campaign</th>
                        <th>Commission</th>
                        <th>Clicks</th>
                        <th>CPC</th>
                        <th>Spent</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="../img/profile/profile-1.jpg" class="profile-img pull-left"></td>
                        <td>Tui2Tone</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
