<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            Account
            <small class="pull-right">(Publisher Id: <u>{echo $user->id}</u>)</small>
        </h4>
        {if isset($message)}
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {echo $message}
        </div>
        {/if}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs navtab-custom">
            <li class="active">
                <a href="#profile" data-toggle="tab" aria-expanded="true">
                    <span class="visible-xs"><i class="fa fa-user"></i></span>
                    <span class="hidden-xs">Profile</span>
                </a>
            </li>
            <li class="">
                <a href="#payout" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-bank"></i></span>
                    <span class="hidden-xs">Payout</span>
                </a>
            </li>
            <li class="">
                <a href="#invoices" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-list"></i></span>
                    <span class="hidden-xs">Invoices</span>
                </a>
            </li>
            <li class="">
                <a href="#payments" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-money"></i></span>
                    <span class="hidden-xs">Payments</span>
                </a>
            </li>
            <li class="">
                <a href="#callback" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-link"></i></span>
                    <span class="hidden-xs">CallBack</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="profile">
                <div class="row">
                    <div class="col-md-6">
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>Username/Nicname</label>
                                <input type="text" name="username" value="{echo $user->username}" class="form-control" placeholder="User Name">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "username")}</span>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" value="{echo $user->name}" class="form-control" placeholder="Full Name" required="">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "name")}</span>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" name="phone" value="{echo $user->phone}" class="form-control" placeholder="Phone Number">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
                            </div>
                            <div class="form-group">
                                <label>Currency</label>
                                <select name="currency" class="form-control" value="{echo $user->currency}">
                                    <option value="INR">INR <i class="fa fa-inr"></i></option>
                                    <option value="USD">USD <i class="fa fa-usd"></i></option>
                                    <option value="PKR">PKR <i class="fa fa-inr"></i></option>
                                    <option value="AUD">AUD <i class="fa fa-usd"></i></option>
                                    <option value="EUR">EUR <i class="fa fa-eur"></i></option>
                                    <option value="GBP">GBP <i class="fa fa-gbp"></i></option>
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "currency")}</span>
                            </div>
                            <div class="form-group">
                                <label>TimeZone</label>
                                {script $tz = $user->region["zone"] ?? "Asia/Kolkata"}
                                <select name="timezone" class="form-control selectpicker" value="{$tz}" data-live-search=true>
                                    {include auth/timezone.html}
                                </select>
                            </div>
                            <input type="hidden" name="action" value="account">
                            <button type="submit" class="btn btn-inverse waves-effect waves-light">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h4 class="m-t-0 header-title text-center"><b>Change Password</b></h4>
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Old Password">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" name="npassword" placeholder="New Password">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                            </div>
                            <input type="hidden" name="action" value="password">
                            <button type="submit" class="btn btn-inverse waves-effect waves-light">Change</button>
                        </form>
                        {if($afields)}
                        <h4 class="m-t-0 header-title text-center"><b>CUSTOM</b></h4>
                        <form class="table-responsive" method="post" action="" enctype="multipart/form-data">
                            <table class="table">
                            <tr>
                                <th>Field</th>
                                <th>Submission</th>
                            </tr>
                            {foreach $f in $afields}
                            {script $val = $user->meta["afields"][$f["name"]]}
                            <tr>
                                <td>{echo $f["label"]}</td>
                                <td>
                                {if($f["type"] == "file")}
                                    <a href="http://cdn.vnative.com/images/{echo $val}" target="_blank">{echo $val}</a>
                                    <input class="form-control" type="{echo $f['type']}" name="{echo $f['name']}" {if $f['required']} required="" {/if} placeholder="{echo $f['label']}">
                                {/if} {else}
                                    <input class="form-control" type="{echo $f['type']}" name="{echo $f['name']}" {if $f['required']} required="" {/if} placeholder="{echo $f['label']}" value="{echo $val}">
                                {/else}
                                </td>
                            </tr>
                            {/foreach}
                            </table>
                            <input type="hidden" name="action" value="custom">
                            <button type="submit" class="btn btn-inverse waves-effect waves-light">Update</button>
                        </form>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="payout">
                <div class="row">
                    <div class="col-md-6">
                    {if(isset($org->billing["aff"]))}
                        <form role="form" method="post">
                            {script $payout = isset($user->meta['payout']) ? $user->meta['payout'] : []}
                            {if(in_array("paypal", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Paypal</label>
                                <input type="email" class="form-control" value="{echo isset($payout['paypal']) ? $payout['paypal'] : null }" name="paypal" placeholder="Paypal email">
                            </div>
                            {/if}
                            {if(in_array("payquicker", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Payquicker</label>
                                <input type="text" value="{echo isset($payout['payquicker']) ? $payout['payquicker'] : null }" class="form-control" name="payquicker" placeholder="Payquicker account">
                            </div>
                            {/if}
                            {if(in_array("payoneer", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Payoneer</label>
                                <input type="text" value="{echo isset($payout['payoneer']) ? $payout['payoneer'] : null }" class="form-control" name="payoneer" placeholder="Payoneer account">
                            </div>
                            {/if}
                            {if(in_array("paytm", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Paytm</label>
                                <input type="text" value="{echo isset($payout['paytm']) ? $payout['paytm'] : null }" class="form-control" name="paytm" placeholder="Paytm Number">
                            </div>
                            {/if}
                            {if(in_array("mobicash", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Mobicash</label>
                                <input type="text" value="{echo isset($payout['mobicash']) ? $payout['mobicash'] : null }" class="form-control" name="mobicash" placeholder="Mobicash account">
                            </div>
                            {/if}
                            {if(in_array("easypaisa", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Easypaisa</label>
                                <input type="text" value="{echo isset($payout['easypaisa']) ? $payout['easypaisa'] : null }" class="form-control" name="easypaisa" placeholder="Easypaisa account">
                            </div>
                            {/if}
                            <input type="hidden" name="action" value="payout">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Change</button>
                        </form>
                    {/if}
                    </div>
                    <div class="col-md-6">
                        {if(isset($org->billing["aff"]) && in_array("wire", $org->billing["aff"]["ptypes"]))}
                        <h4 class="m-t-0 header-title text-center"><b>Bank Details</b></h4>
                        <form role="form" method="post">
                            {script $bank = isset($user->meta['bank']) ? $user->meta['bank'] : []}
                            <div class="form-group">
                                <label>Bank Account Number</label>
                                <input type="text" value="{echo isset($bank['account_no']) ? $bank['account_no'] : null }" class="form-control" name="account_number" placeholder="Bank Account Number">
                            </div>
                            <div class="form-group">
                                <label>Account Owner Name</label>
                                <input type="text" value="{echo isset($bank['account_owner']) ? $bank['account_owner'] : null }" class="form-control" name="account_owner" placeholder="Account Owner Name">
                            </div>
                            <div class="form-group">
                                <label>Bank Name</label>
                                <input type="text" value="{echo isset($bank['name']) ? $bank['name'] : null }" class="form-control" name="account_bank" placeholder="Bank Name">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                            </div>
                            <div class="form-group">
                                <label>IFSC/Swift Code</label>
                                <input type="text" value="{echo isset($bank['ifsc']) ? $bank['ifsc'] : null }" class="form-control" name="account_code" placeholder="IFSC/Swift Code">
                            </div>
                            <input type="hidden" name="action" value="bank">
                            <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                        </form>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="invoices">
                {if($invoices)}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Created</th>
                                <th>Status</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $i in $invoices}
                            <tr>
                                <td><small>{echo Framework\StringMethods::only_date($i->created)}</small></td>
                                <td>
                                    {if $i->live}
                                    <span class="text text-success">Paid</span>
                                    {/if} {else}
                                    <span class="text text-warning">Pending</span>
                                    {/else}
                                </td>
                                <td><small>{echo Framework\StringMethods::only_date($i->start)}</small></td>
                                <td><small>{echo Framework\StringMethods::only_date($i->end)}</small></td>
                                <td>{echo $user->convert($i->amount)}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                {/if}{else}
                <p class="text-center">No invoice has been created till now.</p>
                {/else}
            </div>
            <div class="tab-pane" id="payments">
                {if($payments)}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Created</th>
                                <th>Reference</th>
                                <th>Type</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $p in $payments}
                            <tr>
                                <td><small>{echo Framework\StringMethods::only_date($p->created)}</small></td>
                                <td>{echo $p->meta["refer_id"]}</td>
                                <td>{echo ucfirst($p->type)}</td>
                                <td>{echo $user->convert($p->amount)}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                {/if}{else}
                <p class="text-center">No payments has been created till now.</p>
                {/else}
            </div>
            <div class="tab-pane" id="callback">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="m-t-0 header-title text-center"><b>Create Callbacks</b></h4>
                        <p class="text-center">(Only 1 callback can be added per event)</p>
                        <form method="post">
                            <div class="form-group">
                                <label>Event</label>
                                <select class="form-control selectpicker" name="event" title="Select Callback Event">
                                    <option value="click">Click</option>
                                    <option value="conversion">Conversion</option>
                                    <option value="impression">Impression</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control selectpicker" name="type" title="Select Callback type">
                                    <option value="url">URL(Any Campaign Tracking type)</option>
                                    <option value="html">HTML(iframe Campaign Tracking Only)</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <textarea name="data" class="form-control" placeholder="Callback Code"></textarea>
                            </div>
                            <input type="hidden" name="action" value="addCallback">
                            <button type="submit" class="btn btn-inverse">Save Callback</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h4 class="m-t-0 header-title text-center"><b>Saved Callbacks</b></h4>
                        <p class="text-center">Callbacks will work when approved by Admin</p>
                        {if count($postbacks) > 0}
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>EVENT</th>
                                    <th>TYPE</th>
                                    <th>CODE</th>
                                    <th>STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                                {foreach $p in $postbacks}
                                <tr>
                                    <td>{echo $p->event}</td>
                                    <td>{echo $p->type}</td>
                                    <td>{echo $p->data}</td>
                                    <td>
                                        {echo Shared\Markup::isActiveHtml($p)}
                                    </td>
                                    <td><button type="button" data-href="{echo Shared\Markup::parse_url()['path']}?action=removeCallback&postback_id={echo $p->_id}" class="btn-danger btn-xs delete" data-message="Are You sure you want to delete this postback. This is irreversible!!"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                {/foreach}
                            </table>
                        </div>
                        {/if} {else}
                        <p class="text-center">No Global PostBacks Found.</p>
                        {/else}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>