<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            Account
            <small class="pull-right">(Publisher Id: <u>{echo $user->id}</u>)</small>
        </h4>
        {if isset($message)}
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {echo $message}
        </div>
        {/if}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs navtab-custom">
            <li class="active">
                <a href="#profile" data-toggle="tab" aria-expanded="true">
                    <span class="visible-xs"><i class="fa fa-user"></i></span>
                    <span class="hidden-xs">Profile</span>
                </a>
            </li>
            <li class="">
                <a href="#payout" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-bank"></i></span>
                    <span class="hidden-xs">Payout</span>
                </a>
            </li>
            <li class="">
                <a href="#invoices" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-list"></i></span>
                    <span class="hidden-xs">Invoices</span>
                </a>
            </li>
            <li class="">
                <a href="#payments" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-money"></i></span>
                    <span class="hidden-xs">Payments</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="profile">
                <div class="row">
                    <div class="col-md-6">
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" value="{echo $user->name}" class="form-control" placeholder="Full Name">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "name")}</span>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" name="phone" value="{echo $user->phone}" class="form-control" placeholder="Phone Number">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
                            </div>
                            <div class="form-group">
                                <label>Currency</label>
                                <select name="currency" class="form-control" value="{echo $user->currency}">
                                    <option value="INR">INR <i class="fa fa-inr"></i></option>
                                    <option value="USD">USD <i class="fa fa-usd"></i></option>
                                    <option value="PKR">PKR <i class="fa fa-inr"></i></option>
                                    <option value="AUD">AUD <i class="fa fa-usd"></i></option>
                                    <option value="EUR">EUR <i class="fa fa-eur"></i></option>
                                    <option value="GBP">GBP <i class="fa fa-gbp"></i></option>
                                </select>
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "currency")}</span>
                            </div>
                            <input type="hidden" name="action" value="account">
                            <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h4 class="m-t-0 header-title text-center"><b>Change Password</b></h4>
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Old Password">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" name="npassword" placeholder="New Password">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                            </div>
                            <input type="hidden" name="action" value="password">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Change</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="payout">
                <div class="row">
                    <div class="col-md-6">
                    {if(isset($org->billing["aff"]))}
                        <form role="form" method="post">
                            {script $payout = isset($user->meta['payout']) ? $user->meta['payout'] : []}
                            {if(in_array("paypal", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Paypal</label>
                                <input type="email" class="form-control" value="{echo isset($payout['paypal']) ? $payout['paypal'] : null }" name="paypal" placeholder="Paypal email">
                            </div>
                            {/if}
                            {if(in_array("payquicker", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Payquicker</label>
                                <input type="text" value="{echo isset($payout['payquicker']) ? $payout['payquicker'] : null }" class="form-control" name="payquicker" placeholder="Payquicker account">
                            </div>
                            {/if}
                            {if(in_array("payoneer", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Payoneer</label>
                                <input type="text" value="{echo isset($payout['payoneer']) ? $payout['payoneer'] : null }" class="form-control" name="payoneer" placeholder="Payoneer account">
                            </div>
                            {/if}
                            {if(in_array("paytm", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Paytm</label>
                                <input type="text" value="{echo isset($payout['paytm']) ? $payout['paytm'] : null }" class="form-control" name="paytm" placeholder="Paytm Number">
                            </div>
                            {/if}
                            {if(in_array("mobicash", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Mobicash</label>
                                <input type="text" value="{echo isset($payout['mobicash']) ? $payout['mobicash'] : null }" class="form-control" name="mobicash" placeholder="Mobicash account">
                            </div>
                            {/if}
                            {if(in_array("easypaisa", $org->billing["aff"]["ptypes"]))}
                            <div class="form-group">
                                <label>Easypaisa</label>
                                <input type="text" value="{echo isset($payout['easypaisa']) ? $payout['easypaisa'] : null }" class="form-control" name="easypaisa" placeholder="Easypaisa account">
                            </div>
                            {/if}
                            <input type="hidden" name="action" value="payout">
                            <button type="submit" class="btn btn-info waves-effect waves-light">Change</button>
                        </form>
                    {/if}
                    </div>
                    <div class="col-md-6">
                        {if(isset($org->billing["aff"]) && in_array("wire", $org->billing["aff"]["ptypes"]))}
                        <h4 class="m-t-0 header-title text-center"><b>Bank Details</b></h4>
                        <form role="form" method="post">
                            {script $bank = isset($user->meta['bank']) ? $user->meta['bank'] : []}
                            <div class="form-group">
                                <label>Bank Account Number</label>
                                <input type="text" value="{echo isset($bank['account_no']) ? $bank['account_no'] : null }" class="form-control" name="account_number" placeholder="Bank Account Number">
                            </div>
                            <div class="form-group">
                                <label>Account Owner Name</label>
                                <input type="text" value="{echo isset($bank['account_owner']) ? $bank['account_owner'] : null }" class="form-control" name="account_owner" placeholder="Account Owner Name">
                            </div>
                            <div class="form-group">
                                <label>Bank Name</label>
                                <input type="text" value="{echo isset($bank['name']) ? $bank['name'] : null }" class="form-control" name="account_bank" placeholder="Bank Name">
                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                            </div>
                            <div class="form-group">
                                <label>IFSC/Swift Code</label>
                                <input type="text" value="{echo isset($bank['ifsc']) ? $bank['ifsc'] : null }" class="form-control" name="account_code" placeholder="IFSC/Swift Code">
                            </div>
                            <input type="hidden" name="action" value="bank">
                            <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                        </form>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="invoices">
                
            </div>
            <div class="tab-pane" id="payments">
                
            </div>
        </div>
    </div>
</div>