<div class="page-title">
    <span class="title">Ad units</span>
    <div class="description">
        Manage all your ad units from here, edit and disable.
        <span class="pull-right">
            <form class="form-inline" role="form" method="get" action="">
                <a href="/publisher/createadunit.html" class="btn btn-info"><i class="fa fa-bullhorn"></i> New Adunit</a>
                <div class="form-group">
                    <div class="input-group">
                        <input type="url" style="width: 200px" name="short" class="form-control" required="" placeholder="filter ad units" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="text-center card-action">
                    
                </div>
                <div class="clear-both"></div>
            </div>
            {if($adunits)}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $a in $adunits}
                        <tr>
                            <td>{$a->name}</td>
                            <td>{$a->type}</td>
                            <td>{$a->live}</td>
                            <td class="fbLinkStat" data-link="{echo $link->id}">
                                <span class="label label-primary">View</span>
                            </td>
                            {/if}
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            {/if} {else}
            <div class="card-body"><p class="text-center">No ad units Found.</p></div>
            {/else}
        </div>

        <div class="text-center">
            <ul class="pager">
                {if($page != 1)}
                <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                {/if}
                {if($page < $count/$limit)}
                <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                {/if}
            </ul>
        </div>
        
    </div>
</div>