{include publisher/modals/link.html}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            {if($ad->live)}
            <span class="pull-right">
                <div class="text-center">
                    {if(array_key_exists("permission", $ad->meta))}
                        {script $access = AdAccess::first(["ad_id = ?" => $ad->id, "user_id = ?" => $user->id])}
                        {if(isset($access->live))}
                        <button type="button" data-adid="{echo $ad->_id}" class="createLink btn btn-purple waves-effect waves-light"><i class="fa fa-link"></i> Generate Link</button>
                        {/if}
                        {if($access->live == "0")}
                        <label class="label label-default">Request Pending Approval</label>
                        {/if}
                        {if(!$access)}
                        <a href="/publisher/campaign/{$ad->_id}.html?action=permission" class="btn btn-default">Request Approval to Run</a>
                        {/if}
                    {/if}{else}
                    <button type="button" data-adid="{echo $ad->_id}" class="createLink btn btn-purple waves-effect waves-light"><i class="fa fa-link"></i> Generate Link</button>
                    {/else}
                </div>
            </span>
            {/if}
            <h4 class="page-title">{echo $ad->title}</h4>
        </div>
    </div>
</div>
<div class="row">
    {if isset($message)}
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {echo $message}
    </div>
    {/if}
    <div class="col-md-12">
        <ul class="nav nav-tabs navtab-custom">
            <li class="active">
                <a href="#home" data-toggle="tab" aria-expanded="true">
                    <span class="visible-xs"><i class="fa fa-home"></i></span>
                    <span class="hidden-xs">Details</span>
                </a>
            </li>
            <li class="">
                <a href="#performance" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-graph"></i></span>
                    <span class="hidden-xs">Performance</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{echo Ad::displayImg($ad->image)}" alt="" width="300" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <p>
                            <b>Landing Page: </b> <a href="{echo $ad->url}" target="_blank">{echo $ad->preview_url}</a>
                        </p>
                        <p>{echo $ad->description}</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Status</th>
                                    <td>{if($ad->live)}<span class="label label-success">Active</span>{/if}{else}<span class="label label-warning">Inactive</span>{/else}</td>
                                    <th>Expiry</th>
                                    <td>{echo $ad->expiry ?? NONE}</td>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <td>
                                        {foreach $cat in $ad->category}
                                            {script $key = Shared\Utils::getMongoID($cat)}
                                            <label class="label label-info">{echo $categories[$key]->name}</label>
                                        {/foreach}
                                    </td>
                                    <th>Created</th>
                                    <td>{echo Framework\StringMethods::only_date($ad->created)}</td>
                                </tr>
                                <tr>
                                    <th>Device Targeted</th>
                                    <td>{echo strtoupper(implode(",", $ad->device))}</td>
                                    <th>Type</th>
                                    <td>{echo ucfirst($ad->type)}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Commission Details</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Model</th>
                                    <th>Coverage</th>
                                    <th>Payout</th>
                                    <th>Description</th>
                                </tr>
                                {foreach $comm in $comms}
                                {script $rate = $user->meta["campaign"]["rate"] ?? $comm->rate}
                                <tr>
                                    <td>{echo strtoupper($comm->model)}</td>
                                    <td>{echo implode(",", $comm->coverage)}</td>
                                    <td>{echo $user->convert($rate)}</td>
                                    <td>{echo $comm->description}</td>
                                </tr>
                                {/foreach}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="performance">
                <div class="row">
                    <form class="form-inline text-center" role="form" id="range">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="sr-only">From</label>
                                <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                                <input type="date" style="width: 180px" name="start" class="form-control" value="{$start}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="sr-only">To</label>
                                <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                                <input type="date" style="width: 180px" name="end" class="form-control" value="{$end}" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Show</button>
                    </form>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sub-IDs &amp; Callbacks</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        {script $link = Link::first(["ad_id = ?" => $ad->_id, "user_id = ?" => $user->id])}
                        {if ($link)}
                        <p>
                            <b>Tracking Link: </b>
                            <span id="trackingURL">{echo $link->getUrl()}</span>
                        </p>
                        <p>Tracking Params</p>
                        <div class="input-group">
                            <input type="text" placeholder="Extra Param1" class="form-control" id="param1">
                            <span class="input-group-addon">,</span>
                            <input type="text" placeholder="Extra Param2" class="form-control" id="param2">
                            <span class="input-group-btn">
                                <button type="button" id="extraParam" class="btn btn-primary">GO</button>
                            </span>
                        </div>

                        <hr><br>
                        <p>If you would like to set a callback for this campaign, enter the details below.</p><br>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <select class="form-control selectpicker" name="event" title="Select Callback Event" style="width: 180px">
                                        <option value="click">Click</option>
                                        <option value="conversion">Conversion</option>
                                        <option value="impression">Impression</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <select class="form-control selectpicker" name="type" title="Select Callback type" style="width: 180px">
                                        <option value="url">URL(Any Campaign Tracking type)</option>
                                        <option value="html">HTML(iframe Campaign Tracking Only)</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <textarea name="data" class="form-control" placeholder="Callback Code" style="width: 250px"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="link_id" value="{echo $link->id}">
                            <input type="hidden" name="action" value="addCallback">
                            <button type="submit" class="btn btn-primary">Save Callback</button>
                        </form>
                        {/if} {else}
                        <div class="text-center">
                            {if(array_key_exists("permission", $ad->meta))}
                                {script $access = AdAccess::first(["ad_id = ?" => $ad->id, "user_id = ?" => $user->id])}
                                {if(isset($access->live))}
                                <button type="button" data-adid="{echo $ad->_id}" class="createLink btn btn-purple btn-xs"><i class="fa fa-link"></i> Generate Link</button>
                                {/if}
                                {if($access->live == "0")}
                                <label class="label label-default">Request Pending Approval</label>
                                {/if}
                                {if(!$access)}
                                <a href="/publisher/campaign/{$ad->_id}.html?action=permission" class="btn btn-default">Request Approval to Run</a>
                                {/if}
                            {/if}{else}
                            <button type="button" data-adid="{echo $ad->_id}" class="createLink btn btn-purple btn-xs"><i class="fa fa-link"></i> Generate Link</button>
                            {/else}
                        </div>
                        {/else}
                    </div>
                    <div class="col-md-6">
                        <h4 class="m-t-0 header-title text-center"><b>Saved Callbacks</b></h4>
                        {if($link && isset($link->meta["callback"]))}
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>EVENT</th>
                                    <th>TYPE</th>
                                    <th>CODE</th>
                                    <th>STATUS</th>
                                </tr>
                                {foreach $cb in $link->meta["callback"]}
                                <tr>
                                    <td>{echo $cb["type"]}</td>
                                    <td>{echo $cb["data"]}</td>
                                    <td>{echo $cb["event"]}</td>
                                    <td>{echo $cb["live"]}</td>
                                </tr>
                                {/foreach}
                            </table>
                        </div>
                        {/if} {else}
                        <p class="text-center">No Campaign-Only PostBacks Found.</p>
                        {/else}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Creatives</h3>
            </div>
            <div class="panel-body">
                <p>No Creatives Found</p>
            </div>
        </div>
    </div>
</div>
<script>
    window.trackingURL = $('#trackingURL').text();
    $('#extraParam').on('click', function (e) {
        e.preventDefault();

        var uri = trackingURL + "?p1=" + $('#param1').val() + "&p2=" + $('#param2').val();
        $('#trackingURL').html(uri);
    });
</script>