<style type="text/css">
.thumb {
    position: relative;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
</style>
{include publisher/modals/link.html}
<!-- Bootstrap Select -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Campaigns List: Browse</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <form class="form-inline text-center" role="form" id="range">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only">Category</label>
                        <span class="add-on input-group-addon"><i class="fa fa-tags fa-fw"></i> Category</span>
                        <select class="form-control selectpicker selectVal" data-value='{echo json_encode($coverage)}' name="category[]" multiple="" data-live-search=true title="Browse by Category" style="width: 180px">
                        {foreach $cat in $categories}
                        <option value="{echo $cat->_id}">{echo $cat->name}</option>
                        {/foreach}
                        </select>
                    </div>
                    <div class="input-group">
                        <label class="sr-only">Keyword</label>
                        <span class="add-on input-group-addon"><i class="fa fa-tag fa-fw"></i> Keyword</span>
                        <input type="text" name="keyword" class="form-control" value="{echo $keyword}">
                    </div>
                    <div class="input-group">
                        <label class="sr-only">Sort</label>
                        <span class="add-on input-group-addon"><i class="fa fa-list fa-fw"></i> Sort By</span>
                        <select class="form-control selectVal" data-value='{echo json_encode(["$orderBy"])}' name="orderBy">
                            <option value="desc">Newly added</option>
                            <option value="viral">Viral</option>
                            <option value="asc">Old</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>CAMPAIGN</th>
                            <th>PAYOUT</th>
                            <th>CATEGORY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                        {foreach $a in $ads}
                            {script $c = Commission::allRate($a->_id, $user)}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="/campaign/info/{$a->_id}.html">
                                                <img class="media-object" src="{echo Ad::displayImg($a->image)}" alt="{echo $a->title}" width="150">
                                            </a>
                                            <button type="button" data-adid="{echo $a->_id}" class="createLink btn btn-purple btn-xs waves-effect waves-light text-center">Generate Link</button>
                                        </div>
                                      <div class="media-body">
                                        <p class="media-heading"><a href="/publisher/campaign/{$a->_id}.html">{echo $a->title}</a></p>
                                        <small>{echo $a->description}</small>
                                      </div>
                                    </div>
                                </td>
                                <td><small>{echo $c}</small></td>
                                <td>
                                {foreach $cat in $a->category}
                                    {script $key = Shared\Utils::getMongoID($cat)}
                                    <label class="label label-info">{echo $categories[$key]->name}</label>
                                {/foreach}
                                </td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center">
            <ul class="pager">
                {if ($page != 1)}
                <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                {/if} {if ($page < $count/$limit)}
                <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                {/if}
            </ul>
        </div>
    </div>
</div>