{include publisher/modals/link.html}
<!-- Bootstrap Select -->
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline pull-right" role="form" id="range">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control" value="{echo $keyword}">
                </div>
                <div class="input-group">
                    <select class="form-control selectpicker selectVal" data-value='{echo json_encode($coverage)}' name="category[]" multiple="" data-live-search=true title="Browse by Category" style="width: 180px">
                    {foreach $cat in $categories}
                    <option value="{echo $cat->_id}">{echo $cat->name}</option>
                    {/foreach}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <h4 class="page-title">Campaigns: Browse/Search</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs tabs">
            <li class="tab">
                <a href="#newadded" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-bullhorn"></i></span>
                    <span class="hidden-xs">Recently Added</span>
                </a>
            </li>
            <li class="tab">
                <a href="/publisher/campaigns.html?action=trending&start={echo date('Y-m-d')}&end={echo date('Y-m-d')}" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-line-chart"></i></span>
                    <span class="hidden-xs">Trending Today</span>
                </a>
            </li>
            <li class="tab">
                <a href="/publisher/campaigns.html?action=trending&start={echo date('Y-m-d', strtotime('-1 day'))}&end={echo date('Y-m-d', strtotime('-1 day'))}" aria-expanded="true">
                    <span class="visible-xs"><i class="fa fa-line-chart"></i></span>
                    <span class="hidden-xs">Trending Yesterday</span>
                </a>
            </li>
            <li class="tab">
                <a href="/publisher/campaigns.html?action=trending&start={echo date('Y-m-d', strtotime('-7 day'))}&end={echo date('Y-m-d')}" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-line-chart"></i></span>
                    <span class="hidden-xs">Trending This Week</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="newadded">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>CAMPAIGN</th>
                                <th>PAYOUT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tbody>
                            {foreach $a in $ads}
                                {script $c = Commission::allRate($a->_id, $user)}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object izoom" src="{echo Ad::displayImg($a->image)}" alt="{echo $a->title}" width="150">
                                                <button type="button" data-adid="{echo $a->_id}" class="createLink btn btn-purple btn-xs waves-effect waves-light text-center">Generate Link</button>
                                            </div>
                                          <div class="media-body">
                                            <h5 class="media-heading"><a href="/publisher/campaign/{$a->_id}.html">{echo $a->title}</a></h5>
                                            {foreach $cat in $a->category}
                                                {script $key = Shared\Utils::getMongoID($cat)}
                                                <label class="label label-info">{echo $categories[$key]->name}</label>
                                            {/foreach}
                                          </div>
                                        </div>
                                    </td>
                                    <td><small>{echo $c}</small></td>
                                </tr>
                            {/foreach}
                            </tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center">
            <ul class="pager">
                {if ($page != 1)}
                <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                {/if} {if ($page < $count/$limit)}
                <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                {/if}
            </ul>
        </div>
    </div>
</div>