<div class="row">
    <div class="col-sm-12">
        <form class="form-inline pull-right" role="form" id="range">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">From</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                    <input type="date" style="width: 180px" name="start" class="form-control" value="{$start}" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only">To</label>
                    <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                    <input type="date" style="width: 180px" name="end" class="form-control" value="{$end}" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
        <h4 class="page-title">Contests</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Contests</b></h4>
            {foreach $contest in $contests}
            <h5>Contest: {echo $contest->title}</h5>
            <table class="tablesaw m-t-20 table m-b-0" data-tablesaw-mode="stack">
                {script $condition = $contest->meta['condition']}
                {if $contest->type === "clickRange"}
                <thead>
                    <tr>
                        <th>Click Range</th>
                        <th>Prize</th>
                        <th>Winners</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $c in $condition}
                    <tr>
                        <td>{echo $c['start']} -- {echo $c['end']}</td>
                        <td>{echo $c['prize']}</td>
                        {script $winners = isset($c['winners']) ? $c['winners'] : []}
                        {if count($winners) === 0} {script continue} {/if}
                        <td>
                            <table class="table text-center">
                                {foreach $w in $winners}
                                    {script $usr = \User::first(['_id' => $w], ['name'])}
                                    <tr>
                                        <td>{echo $usr->name}</td>
                                    </tr>
                                {/foreach}
                            </table>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
                {/if} {elseif $contest->type === "topEarner"}
                <thead>
                    <tr>
                        <th>Prize</th>
                        <th>{echo $condition['prize']}</th>
                    </tr>
                </thead>
                <tbody>
                    {script $winners = isset($condition['winners']) ? $condition['winners'] : []}
                    {foreach $w in $winners}
                        {script $usr = \User::first(['_id' => $w], ['name'])}
                        <tr>
                            <td>{echo $usr->name}</td>
                        </tr>
                    {/foreach}
                </tbody>
                {/elseif}
            </table>
            {/foreach}
        </div>
    </div>
</div>
