<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default panel-border">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Clicks</h3>
            </div>
            <div class="table-responsive panel-body">
                <table class="table">
                    <tr>
                        <th>Today</th>
                        <td>{echo Shared\Markup::nice_number($performance->clicks)}</td>
                    </tr>
                    <tr>
                        <th data-toggle="tooltip" data-placement="top" data-original-title="Yesterday Clicks recieved, updated everyday 1:00 AM (IST)">Yesterday</th>
                        <td>{echo Shared\Markup::nice_number($total["clicks"][$yesterday] ?? 0)}</td>
                    </tr>
                    <tr>
                        <th>Overall</th>
                        <td>{echo Shared\Markup::nice_number($total["total_clicks"] + $performance->clicks)}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {script $totalimpr = $total["total_impressions"] + $performance->impressions}
    <div class="col-lg-3">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Impressions</h3>
            </div>
            <div class="table-responsive panel-body">
                <table class="table">
                    <tr>
                        <th>Today</th>
                        <td>{echo Shared\Markup::nice_number($performance->impressions)}</td>
                    </tr>
                    <tr>
                        <th>Yesterday</th>
                        <td>{echo Shared\Markup::nice_number($total["impressions"][$yesterday] ?? 0)}</td>
                    </tr>
                    <tr>
                        <th>Overall</th>
                        <td>{echo Shared\Markup::nice_number($totalimpr)}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {script $totalConv = $total["total_conversions"] + $performance->conversions}
    <div class="col-lg-3">
        <div class="panel panel-border panel-success">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Conversions</h3>
            </div>
            <div class="table-responsive panel-body">
                <table class="table">
                    <tr>
                        <th>Today</th>
                        <td>{echo Shared\Markup::nice_number($performance->conversions)}</td>
                    </tr>
                    <tr>
                        <th>Yesterday</th>
                        <td>{echo Shared\Markup::nice_number($total["conversions"][$yesterday] ?? 0)}</td>
                    </tr>
                    <tr>
                        <th>Overall</th>
                        <td>{echo Shared\Markup::nice_number($totalConv)}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-border panel-inverse">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Revenue</h3>
            </div>
            <div class="table-responsive panel-body">
                <table class="table">
                    <tr>
                        <th>Today</th>
                        <td>{echo $user->convert($performance->revenue)}</td>
                    </tr>
                    <tr>
                        <th>Yesterday</th>
                        <td>{echo $user->convert($total["payouts"][$yesterday] ?? 0)}</td>
                    </tr>
                    <tr>
                        <th>Overall</th>
                        <td>{echo $user->convert($total["total_payouts"] + $performance->revenue)}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {if isset($notifications)}
    <div class="col-md-{echo $d}">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0">Recent Notifications</h4>
            <div class="table-responsive nicescroll" style="height: 280px">
                <table class="table">
                    <tbody>
                        {foreach $n in $notifications}
                        <tr>
                            <td>{echo Framework\StringMethods::only_date($n->created)}</td>
                            <td>{echo $n->message}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {/if}
    {script $widgets = $org->meta["widgets"] ?? []}
    {if in_array("top10pubs", $widgets)}
    <div class="col-md-{echo $d}">
        {script $topEarners = $topusers['publishers']}
        <div class="card-box widget-user">
            <h4 class="text-dark  header-title m-t-0">Top 10 publishers</h4>
            <div class="table-responsive nicescroll" style="height: 280px">
                <table class="table">
                    <tbody>
                        {foreach $u in $topEarners}
                        <tr>
                            <td>{echo $u["username"]}</td>
                            <td>{echo Shared\Markup::nice_number($u["count"])}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {/if}
    {if in_array("top10ads", $widgets)}
    <div class="col-md-{echo $d}">
        {script $topCampaigns = $topusers['ads']}
        <div class="card-box widget-user">
            <h4 class="text-dark  header-title m-t-0">Top 10 Campaigns</h4>
            <div class="table-responsive nicescroll" style="height: 280px">
                <table class="table">
                    <tbody>
                        {foreach $tc in $topCampaigns}
                        <tr>
                            <td><a href="/campaign/info/{echo $tc['_id']}.html" target="_blank">{echo $tc["title"]}</a></td>
                            <td>{echo Shared\Markup::nice_number($tc["clicks"])}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {/if}
</div>