{include publisher/modals/link.html}
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default panel-border">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Clicks</h3>
            </div>
            <div class="table-responsive panel-body">
                <table class="table">
                    <tr>
                        <th>Today</th>
                        <td>{echo Shared\Markup::nice_number($ptoday->clicks)}</td>
                    </tr>
                    <tr>
                        <th data-toggle="tooltip" data-placement="top" data-original-title="Yesterday Clicks recieved, updated everyday 1:00 AM (IST)">Yesterday</th>
                        <td>{echo Shared\Markup::nice_number($pyest->clicks ?? 0)}</td>
                    </tr>
                    <tr>
                        <th>Overall</th>
                        <td>{echo Shared\Markup::nice_number($total["total_clicks"] + $ptoday->clicks)}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {script $totalimpr = $total["total_impressions"] + $ptoday->impressions}
    <div class="col-lg-3">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Impressions</h3>
            </div>
            <div class="table-responsive panel-body">
                <table class="table">
                    <tr>
                        <th>Today</th>
                        <td>{echo Shared\Markup::nice_number($ptoday->impressions)}</td>
                    </tr>
                    <tr>
                        <th>Yesterday</th>
                        <td>{echo Shared\Markup::nice_number($pyest->impressions ?? 0)}</td>
                    </tr>
                    <tr>
                        <th>Overall</th>
                        <td>{echo Shared\Markup::nice_number($totalimpr)}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {script $totalConv = $total["total_conversions"] + $ptoday->conversions}
    <div class="col-lg-3">
        <div class="panel panel-border panel-success">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Conversions</h3>
            </div>
            <div class="table-responsive panel-body">
                <table class="table">
                    <tr>
                        <th>Today</th>
                        <td>{echo Shared\Markup::nice_number($ptoday->conversions)}</td>
                    </tr>
                    <tr>
                        <th>Yesterday</th>
                        <td>{echo Shared\Markup::nice_number($pyest->conversions ?? 0)}</td>
                    </tr>
                    <tr>
                        <th>Overall</th>
                        <td>{echo Shared\Markup::nice_number($totalConv)}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-border panel-inverse">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Revenue</h3>
            </div>
            <div class="table-responsive panel-body">
                <table class="table">
                    <tr>
                        <th>Today</th>
                        <td>{echo $user->convert($ptoday->revenue)}</td>
                    </tr>
                    <tr>
                        <th>Yesterday</th>
                        <td>{echo $user->convert($pyest->revenue ?? 0)}</td>
                    </tr>
                    <tr>
                        <th>Overall</th>
                        <td>{echo $user->convert($total["total_payouts"] + $ptoday->revenue)}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {script $widgets = $org->meta["widgets"] ?? []}
    <div class="col-md-12">
        <ul class="nav nav-tabs navtab-custom">
            <li class="active">
                <a href="#news" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-bell"></i></span>
                    <span class="hidden-xs">News &amp; Updates</span>
                </a>
            </li>
            {if in_array("top10pubs", $widgets)}
            <li class="">
                <a href="#toppubs" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa fa-users"></i></span>
                    <span class="hidden-xs">Top Affiliates</span>
                </a>
            </li>
            {/if}
            {if in_array("top10ads", $widgets)}
            <li class="">
                <a href="#topads" data-toggle="tab" aria-expanded="true">
                    <span class="visible-xs"><i class="fa fa-bullhorn"></i></span>
                    <span class="hidden-xs">Top Campaigns</span>
                </a>
            </li>
            {/if}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="news">
                <h4 class="text-dark  header-title m-t-0">Recent Notifications</h4>
                {if isset($notifications)}
                <div class="table-responsive nicescroll" style="height: 280px">
                    <table class="table">
                        <tbody>
                            {foreach $n in $notifications}
                            <tr>
                                <td>{echo Framework\StringMethods::only_date($n->created)}</td>
                                <td>{echo $n->message}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                {/if}{else}
                <p class="text-center">No Updates till now</p>
                {/else}
            </div>
            {if in_array("top10pubs", $widgets)}
            <div class="tab-pane" id="toppubs">
                <div class="table-responsive nicescroll" style="height: 280px">
                    <table class="table">
                        {script $topEarners = $topusers['publishers']}
                        <thead>
                            <tr>
                                <th>Handle</th>
                                <th>Clicks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $u in $topEarners}
                            <tr>
                                <td>{echo $u["username"]}</td>
                                <td>{echo Shared\Markup::nice_number($u["count"])}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            {/if}
            {if in_array("top10ads", $widgets)}
            <div class="tab-pane" id="topads">
                <div class="table-responsive nicescroll" style="height: 280px">
                    <table class="table">
                        {script $topCampaigns = $topusers['ads']}
                        <thead>
                            <tr>
                                <th>Handle</th>
                                <th>Clicks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $tc in $topCampaigns}
                            {script $a = Ad::first(["id = ?" => $tc['_id']])}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object izoom" src="{echo Ad::displayImg($a->image)}" alt="{echo $a->title}" width="80">
                                            <button type="button" data-adid="{echo $a->_id}" class="createLink btn btn-purple btn-xs waves-effect waves-light text-center">Generate Link</button>
                                        </div>
                                      <div class="media-body">
                                        <h5 class="media-heading"><a href="/publisher/campaign/{$a->_id}.html">{echo $a->title}</a></h5>
                                        {foreach $cat in $a->category}
                                            {script $key = Shared\Utils::getMongoID($cat)}
                                            <label class="label label-info">{echo $categories[$key]->name}</label>
                                        {/foreach}
                                      </div>
                                    </div>
                                </td>
                                <td>{echo Shared\Markup::nice_number($tc["clicks"])}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            {/if}
        </div>
    </div>
</div>