<link rel="stylesheet" href="/public/assets/css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen" />
<div class="row">
    <form class="form-inline pull-right" role="form" id="range">
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only">From</label>
                <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                <input type="date" style="width: 180px" name="start" class="form-control" value="{$start}" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only">To</label>
                <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                <input type="date" style="width: 180px" name="end" class="form-control" value="{$end}" />
            </div>
        </div>
        <input type="hidden" name="user_id" value="{echo $user->_id}">
        <button type="submit" class="btn btn-primary">Show</button>
    </form>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card red summary-inline">
            <div class="card-body">
                <i class="icon fa fa-eye fa-4x"></i>
                <div class="content">
                    <div class="title" id="impressions"><i class="fa fa-spinner fa-pulse"></i></div>
                    <div class="sub-title">Total Impressions</div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card yellow summary-inline">
            <div class="card-body">
                <i class="icon fa fa-dashboard fa-4x"></i>
                <div class="content">
                    <div class="title">0</div>
                    <div class="sub-title">Avg CPM Rates</div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card green summary-inline">
            <div class="card-body">
                <i class="icon fa fa-hand-pointer-o fa-4x"></i>
                <div class="content">
                    <div class="title" id="clicks"><i class="fa fa-spinner fa-pulse"></i></div>
                    <div class="sub-title">Clicks</div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card blue summary-inline">
            <div class="card-body">
                <i class="icon fa fa-money fa-4x"></i>
                <div class="content">
                    <div class="title">0</div>
                    <div class="sub-title">Earned</div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="title">Impressions</div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-8">
                <div class="text-center" id="imp-world-map" style="max-width: 1200px; height: 312px"></div><br>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-globe"></i> Top Countries
                    </div>
                    <ul class="list-group" id="itopcountry"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="title">Clicks</div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-8">
                <div class="text-center" id="clk-world-map" style="max-width: 1200px; height: 312px"></div><br>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-globe"></i> Top Countries
                    </div>
                    <ul class="list-group" id="ctopcountry"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{echo CDN}plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="{echo CDN}plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script type="text/javascript">
$(function() {
    publisher();
});
</script>
