{script $parsed = parse_url(URL)}
{include campaign/modals/commission.html}
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="pull-right">
                            {if !$publisher->live}
                            <a href="/publisher/update/{echo $publisher->_id}" data-send='{echo json_encode(["live" => 1])}' class="update btn btn-success" data-toggle="tooltip" data-placement="top" data-original-title="Activate"><i class="fa fa-check"></i> Activate</a>
                            {/if} {else}
                            <a href="/publisher/update/{echo $publisher->_id}" data-send='{echo json_encode(["live" => 0])}' class="update btn btn-warning" data-toggle="tooltip" data-placement="top" data-original-title="Disable"><i class="fa fa-times"></i> Disable</a>
                            {/else}
                            <a href="/publisher/delete/{echo $publisher->_id}" data-message="Are you sure you want to delete this publisher??" class="delete btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i> Delete</a>
                            <a href="/auth/loginas/{echo $publisher->_id}" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Sign in to this profile"><i class="fa fa-sign-in"></i> Login as</a>
                        </div>
                        <h4 class="page-title"><img src="{echo Shared\Markup::get_gravatar($publisher->email, 30)}"> {echo $publisher->name} <small>(ID: {echo $publisher->id})</small></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                {if isset($message)}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {echo $message}
                </div>
                {/if}
                <ul class="nav nav-tabs navtab-custom">
                    <li class="active">
                        <a href="#profile" data-toggle="tab" aria-expanded="true">
                            <span class="visible-xs"><i class="fa fa-user"></i></span>
                            <span class="hidden-xs">Profile</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#payout" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="fa fa-bank"></i></span>
                            <span class="hidden-xs">Payout</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#platforms" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="fa fa-globe"></i></span>
                            <span class="hidden-xs">Platforms</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#custom" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="fa fa-list"></i></span>
                            <span class="hidden-xs">Custom</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#performance" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="fa fa-pie-chart"></i></span>
                            <span class="hidden-xs">Performance</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/billing/affiliates.html?user_id={echo $publisher->id}">
                            <span class="visible-xs"><i class="fa fa-file-text-o"></i></span>
                            <span class="hidden-xs">Invoices</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#commission">
                            <span class="visible-xs"><i class="fa fa-file-text-o"></i></span>
                            <span class="hidden-xs">Multi Payout</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-6">
                                <form role="form" method="post" action="/publisher/info/{echo $publisher->id}">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="username" value="{echo $publisher->username}" class="form-control" placeholder="UserName">
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "name")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" name="name" value="{echo $publisher->name}" class="form-control" placeholder="Full Name">
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "name")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" name="email" value="{echo $publisher->email}" class="form-control" placeholder="Email">
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "email")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" name="phone" value="{echo $publisher->phone}" class="form-control" placeholder="Phone">
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "phone")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" name="country" value="{echo $publisher->country}" class="form-control" placeholder="country">
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "country")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Currency</label>
                                        <select name="currency" class="form-control" value="{echo $publisher->currency}">
                                            <option value="INR">INR</option>
                                            <option value="USD">USD</option>
                                            <option value="PKR">PKR</option>
                                        </select>
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "currency")}</span>
                                    </div>
                                    <input type="hidden" name="action" value="account">
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
                                    </p>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h4 class="m-t-0 header-title"><b>Change Password</b></h4>
                                <form class="form-horizontal" role="form" method="post" action="/publisher/info/{echo $publisher->id}">
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Old Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="password" placeholder="Old Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword4" class="col-sm-3 control-label">New Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="npassword" placeholder="New Password">
                                            <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="action" value="password">
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-purple waves-effect waves-light">Change</button>
                                    </p>
                                </form>
                                <hr>
                                <h4 class="m-t-0 header-title"><b>Default Tracking Link</b></h4>
                                <form role="form" method="post" action="/publisher/info/{echo $publisher->id}">
                                    <div class="form-group">
                                        {script $tdomain = (array) ($publisher->meta['tdomain'] ?? '')}
                                        <select name="tdomain[]" class="form-control selectVal selectpicker" data-value='{echo json_encode($tdomain)}' multiple="true" data-live-search="true" title="Select a Default Domain">
                                            {foreach $domain in $org->tdomains}
                                            <option value="{echo $domain}">{echo $domain}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                    <input type="hidden" name="action" value="trackingDomain">
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                                        <button type="button" data-href="{echo $parsed['path']}?action=defaultDomain" class="delete btn btn-danger waves-effect waves-light" data-message="Are you sure you want to remove tracking domain for this publisher?">Delete</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="payout">
                        <div class="row">
                            <div class="col-md-6">
                                <form role="form" method="post" action="/publisher/info/{echo $publisher->id}">
                                    <div class="form-group">
                                        {script $model = isset($publisher->meta['campaign']) ? $publisher->meta['campaign']['model'] : null}
                                        <label for="Model">Model (Optional)</label>
                                        <select name="model" class="form-control" value="{echo $model}" required="">
                                            {include auth/model.html}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        {script $rate = isset($publisher->meta['campaign']) ? $publisher->meta['campaign']['rate'] : null}
                                        <label for="Rate">Rate (Optional)</label>
                                        <div class="input-group">
                                            <span class="add-on input-group-addon">{echo $user->currency}</span>
                                            <input type="text" name="rate" class="form-control" placeholder="Rate for revenue model. Eg: 2.3" value="{echo $user->convert($rate, false)}" required="">
                                        </div>
                                    </div>
                                    <input type="hidden" name="action" value="campaign">
                                    <button data-href="{echo $parsed['path']}?action=payoutdel" class="delete btn btn-danger btn-sm" data-message="Are you sure you want to remove default commission?"><i class="fa fa-trash"></i> Delete Payout</button>
                                    <button type="submit" class="btn btn-purple btn-sm waves-effect waves-light"><i class="fa fa-save"></i> Save Payout</button>
                                </form>
                                <hr>
                                {if(isset($org->billing["aff"]))}
                                    <form role="form" method="post">
                                        {script $payout = isset($publisher->meta['payout']) ? $publisher->meta['payout'] : []}
                                        {if(in_array("paypal", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Paypal</label>
                                            <input type="email" class="form-control" value="{echo isset($payout['paypal']) ? $payout['paypal'] : null }" name="paypal" placeholder="Paypal email">
                                        </div>
                                        {/if}
                                        {if(in_array("payquicker", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Payquicker</label>
                                            <input type="text" value="{echo isset($payout['payquicker']) ? $payout['payquicker'] : null }" class="form-control" name="payquicker" placeholder="Payquicker account">
                                        </div>
                                        {/if}
                                        {if(in_array("payoneer", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Payoneer</label>
                                            <input type="text" value="{echo isset($payout['payoneer']) ? $payout['payoneer'] : null }" class="form-control" name="payoneer" placeholder="Payoneer account">
                                        </div>
                                        {/if}
                                        {if(in_array("paytm", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Paytm</label>
                                            <input type="text" value="{echo isset($payout['paytm']) ? $payout['paytm'] : null }" class="form-control" name="paytm" placeholder="Paytm Number">
                                        </div>
                                        {/if}
                                        {if(in_array("mobicash", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Mobicash</label>
                                            <input type="text" value="{echo isset($payout['mobicash']) ? $payout['mobicash'] : null }" class="form-control" name="mobicash" placeholder="Mobicash account">
                                        </div>
                                        {/if}
                                        {if(in_array("easypaisa", $org->billing["aff"]["ptypes"]))}
                                        <div class="form-group">
                                            <label>Easypaisa</label>
                                            <input type="text" value="{echo isset($payout['easypaisa']) ? $payout['easypaisa'] : null }" class="form-control" name="easypaisa" placeholder="Easypaisa account">
                                        </div>
                                        {/if}
                                        <input type="hidden" name="action" value="payout">
                                        <button type="submit" class="btn btn-info waves-effect waves-light">Change</button>
                                    </form>
                                {/if}
                            </div>
                            <div class="col-md-6">
                                {if(isset($org->billing["aff"]) && in_array("wire", $org->billing["aff"]["ptypes"]))}
                                <h4 class="m-t-0 header-title text-center"><b>Bank Details</b></h4>
                                <form role="form" method="post">
                                    {script $bank = isset($publisher->meta['bank']) ? $publisher->meta['bank'] : []}
                                    <div class="form-group">
                                        <label>Bank Account Number</label>
                                        <input type="text" value="{echo isset($bank['account_no']) ? $bank['account_no'] : null }" class="form-control" name="account_number" placeholder="Bank Account Number">
                                    </div>
                                    <div class="form-group">
                                        <label>Account Owner Name</label>
                                        <input type="text" value="{echo isset($bank['account_owner']) ? $bank['account_owner'] : null }" class="form-control" name="account_owner" placeholder="Account Owner Name">
                                    </div>
                                    <div class="form-group">
                                        <label>Bank Name</label>
                                        <input type="text" value="{echo isset($bank['name']) ? $bank['name'] : null }" class="form-control" name="account_bank" placeholder="Bank Name">
                                        <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "password")}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>IFSC/Swift Code</label>
                                        <input type="text" value="{echo isset($bank['ifsc']) ? $bank['ifsc'] : null }" class="form-control" name="account_code" placeholder="IFSC/Swift Code">
                                    </div>
                                    <input type="hidden" name="action" value="bank">
                                    <button type="submit" class="btn btn-purple waves-effect waves-light">Save</button>
                                </form>
                                {/if}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="platforms">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>URL</th>
                                        <th>Created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $p in $platforms}
                                    <tr>
                                        <td><a href="$p->url" target="_blank">{echo $p->url}</a></td>
                                        <td>{echo Framework\StringMethods::only_date($p->created)}</td>
                                        <td>
                                            {if !$p->live}
                                            <a href="admin/platforms/{echo $p->_id}" data-send='{echo json_encode(["live" => 1])}' class="btn btn-xs btn-success update" data-toggle="tooltip" data-placement="top" data-original-title="Verify it"><i class="fa fa-check"></i></a>
                                            {/if} {else}
                                            <a href="admin/platforms/{echo $p->_id}" data-send='{echo json_encode(["live" => 0])}' class="btn btn-xs btn-warning update" data-toggle="tooltip" data-placement="top" data-original-title="Disapprove"><i class="fa fa-times"></i></a>
                                            {/else}
                                            <a href="admin/platforms/{echo $p->_id}" class="btn btn-xs btn-danger delete" data-message="Are you sure you want to remove this platform??" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="custom">
                    {if($afields)}
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Field</th>
                                    <th>Submission</th>
                                </tr>
                                {foreach $f in $afields}
                                {script $fields = $publisher->meta["afields"] ?? []}
                                {script $val = $fields[$f["name"]] ?? ''}
                                <tr>
                                    <td>{echo $f["label"]}</td>
                                    <td>
                                    {if($f["type"] == "text")}
                                        {echo $val}
                                    {/if} {else}
                                        <a href="http://cdn.vnative.com/images/{echo $val}" target="_blank">{echo $val}</a>
                                    {/else}
                                    </td>
                                </tr>
                                {/foreach}
                            </table>
                        </div>
                        <p class="text-center">
                            <a href="publisher/info/{echo $publisher->_id}?action=afields" data-message="Are you sure you want to remove the custom data??" class="delete btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete Custom Records</a>
                        </p>
                    {/if} {else}
                        <p class="text-center">
                            <a href="/admin/settings.html#affiliate" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Add Custom Fields</a>
                        </p>
                    {/else}
                    </div>
                    <div class="tab-pane" id="performance">
                        <div class="row">
                            <form class="form-inline text-center" role="form" id="indexrange">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="sr-only">From</label>
                                        <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> From</span>
                                        <input type="date" style="width: 180px" name="start" class="form-control" value="{$start}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="sr-only">To</label>
                                        <span class="add-on input-group-addon"><i class="fa fa-calendar fa-fw"></i> To</span>
                                        <input type="date" style="width: 180px" name="end" class="form-control" value="{$end}" />
                                    </div>
                                </div>
                                <input type="hidden" name="user_id" value="{echo $publisher->_id}">
                                <button type="submit" class="btn btn-primary">Show</button>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Volume Report</h4>
                                    <div id="perf-stat">
                                        <canvas id="perfstat" height="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Country</h4>
                                    <div id="c-stat">
                                        <div id="country" style="height: 300px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Top Referers</h4>
                                    <div class="table-responsive nicescroll" style="height: 300px">
                                        <table class="table">
                                            <tbody id="topreferer"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">Device</h4>
                                    <div id="device-stat">
                                        <canvas id="devicestat" height="300"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0">OS</h4>
                                    <div class="table-responsive nicescroll" style="height: 300px">
                                        <table class="table">
                                            <tbody id="topos"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="commission">
                        {foreach $comm in $commissions}
                        <div class="row">
                            <div class="card">
                                <div class="card-body no-padding">
                                    <form method="post" action="" class="panel panel-default panel-body">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Model</label>
                                                <select name="model" required="" value="{echo $comm->model}" class="form-control">
                                                    {include auth/model.html}
                                                </select>
                                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "model")}</span>
                                            </div>
                                            <div class="form-group">
                                                <label>Payout Rate</label>
                                                <div class="input-group">
                                                    <span class="add-on input-group-addon">{echo $user->currency}</span>
                                                    <input type="text" name="rate" pattern="^[0-9]{1,2}(\.[0-9]{0,6})?$" value="{echo $user->convert($comm->rate, false)}" class="form-control" placeholder="Rate for revenue model. Eg: 0.3" required="">
                                                </div>
                                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "rate")}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Coverage</label>
                                                <select name="coverage[]" data-value='{echo json_encode($comm->coverage)}' class="selectVal form-control selectpicker" multiple="" data-live-search=true title="Choose a campaign category">
                                                    {include auth/country.html}
                                                </select>
                                                <span class="help-block text-danger">{echo Shared\Markup::errors($errors, "coverage")}</span>
                                            </div>
                                            <div class="form-group">
                                                <label>Description (Optional)</label>
                                                <textarea class="form-control" name="description" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" name="action" value="commedit">
                                        <input type="hidden" name="cid" value="{echo $comm->id}">
                                        <span class="pull-right">
                                            <a href="{echo $parsed['path']}?action=commDel&comm_id={echo $comm->id}" class="delete btn btn-danger btn-sm" data-message="Are You sure you want to delete this commission??"><i class="fa fa-trash"></i> Delete</a> 
                                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check-circle"></i> Save</button>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCommisson"><i class="fa fa-plus"></i> New Commission</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{echo CDN}plugins/jvectormap/jquery-jvectormap-2.0.3.css">
<script src="{echo CDN}plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="{echo CDN}plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="{echo CDN}js/lib/jvectormap.js"></script>
<script type="text/javascript">
$(document).ready(function() {
   $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
       admin.url = "insight/publishers";
       var target = $(e.target).attr("href");
       if ((target == '#performance'))
           admin.performance();
   }); 
});
</script>