<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <a href="/publisher/manage.csv" download="publishers.csv" class="btn btn-inverse pull-right"><i class="fa fa-download"></i> Export to CSV</a> 
                        <form class="form-inline pull-right" role="form" id="range">
                            <div class="form-group">
                                <select class="form-control" name="property" value="{$property}">
                                    <option value="name">Name</option>
                                    <option value="live">Live</option>
                                    <option value="email">Email</option>
                                    <option value="phone">Phone</option>
                                    <option value="id">ID</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="value" value="{echo $value}">
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                            <a href="/publisher/add.html" class="btn btn-success"><i class="fa fa-plus"></i> New publisher</a>
                        </form>
                        <h4 class="page-title">Affiliates <small><a href="/publisher/manage.html?property=live&amp;value=1">Active({echo $active})</a> | <a href="/publisher/manage.html?property=live&amp;value=0">Inactive({echo $inactive})</a></small></h4>
                    </div>
                    <div class="card-box">
                        {if isset($message)}
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {echo $message}
                        </div>
                        {/if}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Clicks</th>
                                        <th>Payout</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $p in $publishers}
                                    {script $perf = Performance::calculate($p)}
                                    {script $pays = Payment::done($p)}
                                    <tr>
                                        <td><img src="{echo Shared\Markup::get_gravatar($p->email, 40)}"></td>
                                        <td>
                                            <a href="/publisher/info/{echo $p->_id}.html">{echo $p->name}</a><br>
                                            <small>(ID: 
                                            {if $p->live}
                                            <span class="text text-success">{echo $p->_id}</span>
                                            {/if} {else}
                                            <span class="text text-warning">{echo $p->_id}</span>
                                            {/else})</small>
                                        </td>
                                        <td>
                                            {echo $p->email}<br>
                                            {if($p->login)}
                                            <i class="fa fa-clock-o" data-toggle="tooltip" data-placement="top" data-original-title='Last Login: {echo Framework\StringMethods::datetime_to_text($p->login)}'></i>
                                            {/if}
                                            &nbsp;{if(array_key_exists("campaign", $p->meta))}
                                            <i class="fa fa-money" data-toggle="tooltip" data-placement="top" data-original-title='Model: {echo $p->meta["campaign"]["model"]} with Payout: {echo $user->convert($p->meta["campaign"]["rate"], false)}'></i>
                                            {/if}
                                            &nbsp;{if(array_key_exists("tdomain", $p->meta))}
                                            <i class="fa fa-globe" data-toggle="tooltip" data-placement="top" data-original-title='Tracking Domain: {echo $p->meta["tdomain"]}'></i>
                                            {/if}
                                        </td>
                                        <td>{echo Shared\Markup::nice_number($perf['clicks'])}</td>
                                        <td>{echo $user->convert($perf['revenue'] - $pays['amount'])}</td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pager">
                            {if ($page != 1)}
                            <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                            {/if} {if ($page < $count/$limit)}
                            <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
