<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <a href="/publisher/manage.csv" download="publishers.csv" class="btn btn-inverse pull-right"><i class="fa fa-download"></i> Export to CSV</a> 
                        <form class="form-inline pull-right" role="form" id="range">
                            <div class="form-group">
                                <select class="form-control" name="property" value="{$property}">
                                    <option value="name">Name</option>
                                    <option value="live">Live</option>
                                    <option value="email">Email</option>
                                    <option value="phone">Phone</option>
                                    <option value="id">ID</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="value" value="{echo $value}">
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                            <a href="/publisher/add.html" class="btn btn-success"><i class="fa fa-plus"></i> New publisher</a>
                        </form>
                        <h4 class="page-title">Affiliates <small><a href="/publisher/manage.html?property=live&amp;value=1">Active <span class="badge">{echo $active}</span></a> | <a href="/publisher/manage.html?property=live&amp;value=0">Inactive <span class="badge">{echo $inactive}</span></a></small></h4>
                    </div>
                    {if isset($message)}
                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {echo $message}
                    </div>
                    {/if}
                    <div class="portlet">
                        <div class="portlet-heading portlet-default">
                            <div class="portlet-widgets pull-right text-dark">
                                <i class="fa fa-line-chart"></i> Trending 
                                <div class="btn-group" role="group" aria-label="trending">
                                    <a href="/publisher/manage.html?sort=trending&start={echo date('Y-m-d')}&end={echo date('Y-m-d')}" class="btn btn-xs btn-default">Today</a>
                                    <a href="/publisher/manage.html?sort=trending&start={echo date('Y-m-d', strtotime('-1 day'))}&end={echo date('Y-m-d', strtotime('-1 day'))}" class="btn btn-xs btn-default">Yesterday</a>
                                    <a href="/publisher/manage.html?sort=trending&start={echo date('Y-m-d', strtotime('-7 day'))}&end={echo date('Y-m-d')}" class="btn btn-xs btn-default">This Week</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>AFFILIATE</th>
                                            <th>ACCOUNT</th>
                                            <th>PERFORMANCE</th>
                                            <th>PAID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $p in $publishers}
                                        {script $perf = Performance::total(['start' => ($start ?? $p->created->format('Y-m-d')), 'end' => ($end ?? date('Y-m-d'))], $p)}
                                        {script $pays = Payment::done($p)}
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <img class="media-object" src="{echo Shared\Markup::get_gravatar($p->email, 40)}" alt="...">
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="media-heading">
                                                            <a href="/publisher/info/{echo $p->_id}.html">{echo $p->name}</a>
                                                        </h5>
                                                        <small>(ID: 
                                                        {if $p->live}
                                                        <span class="text text-success">{echo $p->_id}</span>
                                                        {/if} {else}
                                                        <span class="text text-warning">{echo $p->_id}</span>
                                                        {/else})</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                {echo $p->email}<br>
                                                {if($p->login)}
                                                <i class="fa fa-clock-o" data-toggle="tooltip" data-placement="top" data-original-title='Last Login: {echo Framework\StringMethods::datetime_to_text($p->login)}'></i>
                                                {/if}
                                                {if(array_key_exists("campaign", $p->meta))}&nbsp;
                                                <i class="fa fa-money" data-toggle="tooltip" data-placement="top" data-original-title='Model: {echo $p->meta["campaign"]["model"]} with Payout: {echo $user->convert($p->meta["campaign"]["rate"], false)}'></i>
                                                {/if}
                                                {if(array_key_exists("tdomain", $p->meta))}&nbsp;
                                                <i class="fa fa-globe" data-toggle="tooltip" data-placement="top" data-original-title='Tracking Domain: {echo $p->meta["tdomain"]}'></i>
                                                {/if}
                                            </td>
                                            <td>
                                                {if($perf["clicks"])}Clicks <span class="badge">{echo $perf["clicks"] ?? 0}</span>{/if}
                                                {if($perf["conversions"])}<br>Conversions <span class="badge">{echo $perf["conversions"] ?? 0}</span>{/if}
                                                {if($perf["impressions"])}<br>Impressions <span class="badge">{echo $perf["impressions"] ?? 0}</span>{/if}
                                                {if($perf["revenue"])}<br>Revenue <span class="badge">{echo $user->convert($perf["revenue"] ?? 0, true, 2)}</span>{/if}
                                            </td>
                                            <td>{echo $user->convert($pays["amount"], true, 2)}</td>
                                        </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pager">
                            {if ($page != 1)}
                            <li><a href="{echo Shared\Markup::pagination($page - 1)}">Previous</a></li>
                            {/if} {if ($page < $count/$limit)}
                            <li><a href="{echo Shared\Markup::pagination($page + 1)}">Next</a></li>
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
