<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li><a href="/admin/index.html">Dashboard</a></li>
                            <li class="active">Publisher Payments</li>
                        </ol>
                        <h4 class="page-title">Publisher Payments</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table  table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Payment</th>
                                            <th>Bank Details</th>
                                            <th>Account No</th>
                                            <th>Account Owner</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {foreach $p in $payments}
                                        <tr>
                                            <td>{echo $p->name}</td>
                                            <td>{echo $p->email}</td>
                                            <td>{echo $p->phone}</td>
                                            <td><i class="fa fa-usd"> {echo $p->amount}</i></td>
                                            {script $bank = (array) $p->bank}
                                            <td>{echo isset($bank['name']) ? $bank['name'] : ''} - {echo isset($bank['ifsc']) ? $bank['ifsc'] : ''}</td>
                                            <td>{echo isset($bank['account_no']) ? $bank['account_no'] : ''}</td>
                                            <td>{echo isset($bank['account_owner']) ? $bank['account_owner'] : ''}</td>
                                            <td>
                                                <a href="/publisher/info/{echo $p->user_id}.html" class="btn btn-xs btn-default"><i class="fa fa-sign-in"></i> Pay Now</a>
                                            </td>
                                        </tr>
                                        {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
